<app-overlay-header
  [headingLabel]="'PLATFORM'"
  [heading]="'Privacy'"
  [breadcrumb1]="'Platform'"
  [breadcrumb2]="'Privacy'"
></app-overlay-header>

<div class="container">
  <div class="inset-section">
    <p class="privacy__paragraph2">
      Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <br />
    <p class="privacy__paragraph2">
      Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>

  <div class="section">
    <h2 class="privacy__header3">FEATURES BEHIND THE PROPES</h2>
    <div class="row">
      <div class="col-12 col-md-4">
        <app-poster
          [title]="'Cross Cloud Storage'"
          [category]="'PRIVACY'"
          [description]="'Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor'"
          [style]="1"
          [link]="'/platform/privacy/cross-cloud-storage'"
        ></app-poster>
      </div>
      <div class="col-12 col-md-4">
        <app-poster
          [title]="'Distributed Identity'"
          [category]="'PRIVACY'"
          [description]="'Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor'"
          [style]="2"
          [link]="'/platform/privacy/distributed-identity'"
        ></app-poster>
      </div>
    </div>
  </div>
</div>
