<app-multi-img-header [headingLabel]="'PLATFORM'" [heading]="'Privacy'" [showBreadcrumb]="true"></app-multi-img-header>

<div class="container">
  <div class="inset-section">
    <p class="privacy__paragraph2">
      Mantle utilizes novel data fragmentation and multi-cloud hosting systems to offer advanced data privacy as a service.
    </p>
    <br />
    <p class="privacy__paragraph2">
      Mantle makes enterprises resilient to cybersecurity and data risks by protecting our customers from ransomware attacks,
      physical hardware lockouts and permanent data loss.
    </p>
  </div>

  <div class="section">
    <h2 class="privacy__header3">FEATURES BEHIND THE PROPS</h2>
    <div class="row">
      <div class="col-12 col-md-4">
        <app-poster
          [title]="'Cross Cloud Storage'"
          [category]="'PRIVACY'"
          [description]="'New technology to enhance governance and privacy of file storage'"
          [style]="1"
          [link]="'/platform/privacy/cross-cloud-storage'"
          [size]="2"
        ></app-poster>
      </div>
      <div class="col-12 col-md-4">
        <app-poster
          [title]="'Key-Based Permissioning'"
          [category]="'PRIVACY'"
          [description]="'All access and permissions are conttrolled throough a cross-reference to blockchain-based identities'"
          [style]="2"
          [link]="'/platform/privacy/distributed-identity'"
          [size]="2"
        ></app-poster>
      </div>
    </div>
  </div>
</div>
