<app-single-img-header
  [headingLabel]="'AUDITING'"
  [heading]="'Audit Poral'"
  [subheading]="'Identify and eliminnate security vulnerabilities using the most rigorous and thorough cybersecurity techniques.'"
  [showBreadcrumb]="true"
></app-single-img-header>

<app-split-subheader
  [heading]="'Accelerated accounting paradigm via blockchain'"
  [subheading]="
    'Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.'
  "
></app-split-subheader>

<app-staggered-columns [data]="auditPortalColumns" [style]="2"></app-staggered-columns>

<app-staggered-icons [data]="auditPortalIcons"></app-staggered-icons>
