<app-multi-img-header [headingLabel]="'PLATFORM'" [heading]="'Advanced Cybersecurity'" [showBreadcrumb]="false">
</app-multi-img-header>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-7 col-xl-6">
      <p class="cybersecurity__header">
        Mantle delivers state-of-the-art insight sharing using novel technologies.
      </p>
      <p class="cybersecurity__paragraph">
        Mantle has identified cybersecurity as a key area that benefits from using more than just blockchain. Through
        innovations across blockchain, cryptography and cross-cloud storage Mantle offers clients a secure way to share
        information from their valuable datasets.
      </p>
    </div>
    <div class="cybersecurity__image-container cybersecurity__image-container--gray">
      <img class="cybersecurity__image" src="assets/images/square-img-laughing.png" />
    </div>
  </div>

  <div class="row cybersecurity__row">
    <div class="col-12 col-lg-7 col-xl-6">
      <p class="cybersecurity__header">
        SmartHashes - Digital Fingerprints Packed with Insights.
      </p>
      <p class="cybersecurity__paragraph">
        SmartHashes are able to capture significantly greater amounts of metadata compared to standard hashing methods.
        As a direct result, businesses are able to share important information and business insights without exposing
        the valuable data beneath.
      </p>
    </div>
    <div class="cybersecurity__image-container">
      <img class="cybersecurity__image" src="assets/images/square-img-pen.png" />
    </div>
  </div>
</div>