<app-image-header
  [headingLabel]="'AUDITING'"
  [heading]="'Agreement Validation'"
  [subheading]="'Identify and eliminnate security vulnerabilities using the most rigorous and thorough cybersecurity techniques.'"
  [showBreadcrumb]="true"
></app-image-header>

<app-split-subheader
  [heading]="'Types of agreement'"
  [subheading]="
    'Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.'
  "
  [listItems]="auditValidationListItems"
></app-split-subheader>

<app-trusted-companies></app-trusted-companies>

<app-staggered-icons [data]="agreementValidationIcons"></app-staggered-icons>

<div class="section">
  <img class="agreement-validation__image" src="assets/images/square-img-laughing.png" />
</div>

<app-staggered-columns [data]="agreementValidationColumns" [style]="1"></app-staggered-columns>
