<app-multi-img-header [headingLabel]="'KYC'" [heading]="'Case Study Title'" [showBreadcrumb]="true"></app-multi-img-header>

<div class="container">
  <div class="inset-section">
    <div class="row">
      <div class="col-12 col-md-9">
        <h2 class="kyc__header2">This is a short description of the case study</h2>
        <p class="kyc__paragraph">
          Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et dolore magna aliqua.
        </p>
        <br />
        <p class="kyc__paragraph">
          Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </p>
      </div>
      <div class="col-12 col-md-3 mt-5 mt-md-0">
        <div class="ml-md-3">
          <label class="kyc__index-label">SOLUTIONS</label>
          <ul class="kyc__index-list">
            <li class="kyc__index-item">Cross Cloud Storage</li>
            <li class="kyc__index-item">Distributed Identity</li>
            <li class="kyc__index-item">Agreement Validation</li>
            <li class="kyc__index-item">Data Provenance</li>
            <li class="kyc__index-item">Audit Portal</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <app-case-section
      [heading]="'How It Works'"
      [subheading]="
        'Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua.'
      "
      [image]="'assets/images/square-img-laughing.png'"
    ></app-case-section>
    <div class="row">
      <div class="col-12 col-md-10">
        <p class="kyc__paragraph">
          Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et dolore magna aliqua.
        </p>
        <br />
        <p class="kyc__paragraph">
          Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </p>
      </div>
    </div>
  </div>

  <div class="section">
    <app-case-section
      [heading]="'How It Works'"
      [subheading]="
        'Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua.'
      "
      [image]="'assets/images/square-img-pen.png'"
    ></app-case-section>
    <div class="row">
      <div class="col-12 col-md-10">
        <p class="kyc__paragraph">
          Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et dolore magna aliqua.
        </p>
        <br />
        <p class="kyc__paragraph">
          Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </p>
      </div>
    </div>
  </div>
</div>
