<div class="contact-form" [ngClass]="{ 'contact-form__background--dark': isDarkBackground }">
  <div class="contact-form__content-container container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h3
          class="contact-form__header"
          [ngClass]="isDarkBackground ? 'contact-form__header--light' : 'contact-form__header--dark'"
        >
          {{ contactForm.title }}
        </h3>
        <p [ngClass]="isDarkBackground ? 'contact-form__subheader--light' : 'contact-form__subheader--dark'">
          {{ contactForm.subtitle }}
        </p>
      </div>

      <div [ngSwitch]="contactForm.type" class="col-12 col-md-6">
        <ng-container *ngSwitchCase="'account'">
          <ng-container *ngTemplateOutlet="account"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'partner'">
          <ng-container *ngTemplateOutlet="partner"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'newsletter'">
          <ng-container *ngTemplateOutlet="newsletter"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'contact'">
          <ng-container *ngTemplateOutlet="contact"></ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #account>
  <div class="row">
    <div class="col-12 col-sm-6">
      <input class="contact-form__input-text contact-form__input-text--dark" type="text" placeholder="First Name" />
    </div>
    <div class="col-12 col-sm-6">
      <input class="contact-form__input-text contact-form__input-text--dark" type="text" placeholder="Last Name" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <input class="contact-form__input-text contact-form__input-text--dark" type="email" placeholder="Email address" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <input class="contact-form__input-text contact-form__input-text--dark" type="text" placeholder="Company" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <textarea
        class="contact-form__input-text contact-form__input-text--dark contact-form__input-textarea"
        placeholder="Describe your project in max 5000 characters"
      ></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-3 d-flex">
      <div>
        <input class="contact-form__input-radio mr-3" type="radio" />
      </div>
      <label>
        I agree to receive communications from Mantle Technology about out APIs and content that may be of interest to you. By
        clicking Enroll Now below, you consent to allows Mantle Technology to store and process the personal informatioinn
        submitted above to provide you the contetnt requested. You may unsubscribe at any time.
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-3 d-flex">
      <div>
        <input class="contact-form__input-radio mr-3" type="radio" />
      </div>
      <label>I agree to the terms of service. This is required for enrolling to the Developerr Program</label>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button class="button__primary">Sign Up</button>
    </div>
  </div>
</ng-template>

<ng-template #partner>
  <div class="row">
    <div class="col-12 col-sm-6">
      <input class="contact-form__input-text contact-form__input-text--dark" type="text" placeholder="First Name" />
    </div>
    <div class="col-12 col-sm-6">
      <input class="contact-form__input-text contact-form__input-text--dark" type="text" placeholder="Last Name" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <input class="contact-form__input-text contact-form__input-text--dark" type="email" placeholder="Email address" />
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-8">
      <input class="contact-form__input-text contact-form__input-text--dark" type="email" placeholder="Job title" />
    </div>
    <div class="col-12 col-sm-4">
      <input class="contact-form__input-text contact-form__input-text--dark" type="email" placeholder="Company" />
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-9">
      <input class="contact-form__input-text contact-form__input-text--dark" type="tel" placeholder="Phone number (optional)" />
    </div>
    <div class="col-12 col-sm-3">
      <input class="contact-form__input-text contact-form__input-text--dark" type="text" placeholder="Country" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <input
        class="contact-form__input-text contact-form__input-text--dark"
        type="dropdown"
        placeholder="Choose a partnership type"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button class="button__primary">Submit Form</button>
    </div>
  </div>
</ng-template>

<ng-template #newsletter>
  <div class="row">
    <div class="col-12 col-sm-6">
      <input class="contact-form__input-text contact-form__input-text--dark" type="text" placeholder="First Name" />
    </div>
    <div class="col-12 col-sm-6">
      <input class="contact-form__input-text contact-form__input-text--dark" type="text" placeholder="Last Name" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <input class="contact-form__input-text contact-form__input-text--dark" type="email" placeholder="Email address" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button class="button__primary">Sign Up</button>
    </div>
  </div>
</ng-template>

<ng-template #contact>
  <div class="row">
    <div class="col-12 col-sm-6">
      <input class="contact-form__input-text contact-form__input-text--light" type="text" placeholder="First Name" />
    </div>
    <div class="col-12 col-sm-6">
      <input class="contact-form__input-text contact-form__input-text--light" type="text" placeholder="Last Name" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <input class="contact-form__input-text contact-form__input-text--light" type="email" placeholder="Email address" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <input class="contact-form__input-text contact-form__input-text--light" type="text" placeholder="Company" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <textarea
        class="contact-form__input-text contact-form__input-text--dark contact-form__input-textarea"
        placeholder="Describe your project in max 5000 characters"
      ></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button class="button__primary">Submit Form</button>
    </div>
  </div>
</ng-template>
