@import 'src/styles/base/_variables';
@import 'src/styles/base/_typography';

.contact-us {
  padding-top: 246px;
  @include media-breakpoint-down(sm) {
    padding-top: 0px;
  }

  // Section 1 - Contact Us
  &__section1 {
    margin-bottom: 146px;
  }

  &__section1--left {
    z-index: 1;
  }

  &__section1--right {
    margin-left: -200px;
  }

  &__link {
    @include captionSubNav($earth-brown);
    margin-top: 200px;
    span {
      @include captionSubNav($mono-grey3);
    }
  }

  &__header1 {
    margin-bottom: 16px;
    @include header1($earth-maroon);
  }

  &__heading-label {
    margin-bottom: 20px;
    @include caption2($earth-red);
  }
}
