<app-multi-img-header
  [headingLabel]="'DEVELOPER PROGRAM'"
  [heading]="'Make your next product release blockchain enabled'"
  [showBreadcrumb]="true"
></app-multi-img-header>

<!-- Section 2 - Bring you ideas to life -->
<div class="container">
  <div class="section">
    <h2 class="developer-program__header2">Bring your ideas to life with a free mantle acount</h2>
    <p class="developer-program__subheader2">Get started with $250</p>
    <div class="row ml-md-5">
      <div class="col-12 col-sm-4">
        <img src="assets/icons/network.png" />
        <label class="developer-program__label2">Insert reason</label>
        <p class="pricing__info">
          Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua.
        </p>
      </div>
      <div class="col-12 col-sm-4">
        <img src="assets/icons/network.png" />
        <label class="developer-program__label2">Insert reason</label>
        <p class="pricing__info">
          Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua.
        </p>
      </div>
      <div class="col-12 col-sm-4">
        <img src="assets/icons/network.png" />
        <label class="developer-program__label2">Insert reason</label>
        <p class="pricing__info">
          Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua.
        </p>
      </div>
    </div>
  </div>
</div>

<app-single-column [data]="developerProgramSingleColumnData"></app-single-column>

<app-contact-form [contactForm]="contactForm"></app-contact-form>
