<app-single-img-header
  [headingLabel]="'DATA PRIVACY'"
  [heading]="'Distrtibuted identity'"
  [subheading]="
    'Insert metaphor or analogy to illustrate cross cloud storage. Insert real-life examples that shows cross cloud storage is better than centralized computing.'
  "
  [showBreadcrumb]="true"
></app-single-img-header>

<app-split-subheader
  [heading]="'Where data becomes the worlds most essential ingredient'"
  [subheading]="
    'Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.'
  "
></app-split-subheader>

<app-trusted-companies></app-trusted-companies>

<app-single-column [data]="distributedIdentitySingleColumnData"></app-single-column>

<app-staggered-icons [data]="distributedIdentityStaggeredIconsData"></app-staggered-icons>

<app-testimonials></app-testimonials>
