@import 'src/styles/base/_variables';
@import 'src/styles/base/_typography';

.distributed-identity {
  // Section 4 - Distributed identity
  &__header4 {
    @include header3($earth-maroon);
  }

  &__container {
    max-width: 540px;
    margin-left: 50%;
    @include media-breakpoint-down(sm) {
      margin-left: 0;
    }
  }

  &__subheader4 {
    @include subhead2($earth-maroon);
  }
}
