<app-image-header
  [headingLabel]="'DATA PRIVACY'"
  [heading]="'Distrtibuted identity'"
  [subheading]="
    'Insert metaphor or analogy to illustrate cross cloud storage. Insert reral-life examples that shows cross cloud storage is better than centralized computing'
  "
  [showBreadcrumb]="true"
></app-image-header>

<app-split-subheader
  [heading]="'Where data becomes the worlds most essential ingredient'"
  [subheading]="
    'Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.'
  "
></app-split-subheader>

<app-trusted-companies></app-trusted-companies>

<!-- Section 4 - Distributed identity -->
<div class="container">
  <div class="section">
    <div class="row mb-5">
      <div class="col-12 col-md-8 col-xl-6">
        <h3 class="distributed-identity__header4">Distributed identity with Mantle</h3>
        <p>
          Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua.
        </p>
      </div>
    </div>

    <div class="distributed-identity__container mb-5">
      <label class="distributed-identity__subheader4">Describe possibility</label>
      <p>
        Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>

    <div class="distributed-identity__container mb-5">
      <label class="distributed-identity__subheader4">Describe possibility</label>
      <p>
        Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>

    <div class="distributed-identity__container">
      <label class="distributed-identity__subheader4">Describe possibility</label>
      <p>
        Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
</div>

<app-staggered-icons [data]="distributedIdentity"></app-staggered-icons>

<app-testimonials></app-testimonials>
