<app-multi-img-header [headingLabel]="'PLATFORM'" [heading]="'Auditing'" [showBreadcrumb]="true"></app-multi-img-header>

<div class="container">
  <div class="inset-section">
    <p class="audit__paragraph2">
      Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <br />
    <p class="audit__paragraph2">
      Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>

  <div class="section">
    <h2 class="audit__header3">FEATURES BEHIND THE PROPS</h2>
    <div class="row">
      <div class="col-12 col-md-4">
        <app-poster
          [title]="'Agreement Validation'"
          [category]="'AUDITING'"
          [description]="'Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor'"
          [style]="1"
          [link]="'/platform/auditing/agreement-validation'"
          [size]="2"
        ></app-poster>
      </div>
      <div class="col-12 col-md-4">
        <app-poster
          [title]="'Data Provenance'"
          [category]="'PRAUDITINGIVACY'"
          [description]="'Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor'"
          [style]="2"
          [link]="'/platform/auditing/data-provenance'"
          [size]="2"
        ></app-poster>
      </div>
      <div class="col-12 col-md-4">
        <app-poster
          [title]="'Audit Portal'"
          [category]="'AUDITING'"
          [description]="'Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor'"
          [style]="3"
          [link]="'/platform/auditing/audit-portal'"
          [size]="2"
        ></app-poster>
      </div>
    </div>
  </div>
</div>
