<div class="faq container">
  <div class="faq__section1">
    <div class="d-flex">
      <div class="faq__section1--left">
        <label class="faq__heading-label">FREQUENTLY ASKED QUESTIONS</label>
        <h1 class="faq__header1">FAQ</h1>
      </div>
      <img class="faq__section1--right" src="assets/images/learning.png" />
    </div>
    <p class="faq__link">Developers <span>/ Faq</span></p>
  </div>

  <div class="faq__section2">
    <div class="row mb-5">
      <div class="col-1">
        <label class="faq__number">01</label>
      </div>
      <div class="col-11">
        <h2 class="faq__header2">What happens at the end of 180 days?</h2>
        <p class="faq__subheader2">
          Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do aiusmod tempr incididunt ut labore et ddolore magna
          aliqua.
        </p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-1">
        <label class="faq__number">02</label>
      </div>
      <div class="col-11">
        <h2 class="faq__header2">What happens at the end of 180 days?</h2>
        <p class="faq__subheader2">
          Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do aiusmod tempr incididunt ut labore et ddolore magna
          aliqua.
        </p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-1">
        <label class="faq__number">03</label>
      </div>
      <div class="col-11">
        <h2 class="faq__header2">What happens at the end of 180 days?</h2>
        <p class="faq__subheader2">
          Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do aiusmod tempr incididunt ut labore et ddolore magna
          aliqua.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <label class="faq__number">04</label>
      </div>
      <div class="col-11">
        <h2 class="faq__header2">What happens at the end of 180 days?</h2>
        <p class="faq__subheader2">
          Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do aiusmod tempr incididunt ut labore et ddolore magna
          aliqua.
        </p>
      </div>
    </div>
  </div>
</div>
