@import 'src/styles/base/_variables';
@import 'src/styles/base/_typography';

.faq {
  padding-top: 246px;
  @include media-breakpoint-down(sm) {
    padding-top: 0px;
  }

  // Section 1 - FAQ
  &__section1 {
    margin-bottom: 146px;
  }

  &__section1--left {
    z-index: 1;
  }

  &__section1--right {
    margin-left: -200px;
  }

  &__link {
    @include captionSubNav($earth-brown);
    margin-top: 200px;
    span {
      @include captionSubNav($mono-grey3);
    }
  }

  &__header1 {
    margin-bottom: 16px;
    @include header1($earth-maroon);
  }

  &__heading-label {
    margin-bottom: 20px;
    @include caption2($earth-red);
  }

  // Section 2 - What happens
  &__section2 {
    margin: 0 auto 136px auto;
    max-width: 85%;
  }

  &__number {
    @include caption1($earth-orange);
  }

  &__header2 {
    margin-bottom: 18px;
    padding-left: 90px;
    border-left: 4px solid $earth-maroon;
    @include header3($earth-maroon);
  }

  &__subheader2 {
    padding-left: 94px;
  }
}
