<div class="pricing container">
  <div class="pricing__section1">
    <label class="pricing__heading-label">PRICING</label>
    <h1 class="pricing__header1">Pay per use, nothing more</h1>
    <p>Choose a plan that best meets your business needs and start integrating blockchain right away.</p>
  </div>

  <div class="pricing__section2 row">
    <div class="col-12 col-sm-4">
      <div class="d-flex">
        <img src="assets/images/orange-triangle.png" />
        <h2 class="pricing__section-label">Exploration</h2>
      </div>
      <label class="pricing__price-label">SAAS</label>
      <p>$2,500/mo</p>
      <label class="pricing__price-label">API CALLS</label>
      <p>$15,000/mo</p>
      <p class="pricing__info">
        Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do aiusmod tempr incididunt ut labore et ddolore
        magna aliqua.
      </p>
    </div>

    <div class="col-12 col-sm-4">
      <div class="d-flex">
        <img src="assets/images/blue-triangle.png" />
        <h2 class="pricing__section-label">Enterprise</h2>
      </div>
      <label class="pricing__price-label">SAAS</label>
      <p>$5,000/mo</p>
      <label class="pricing__price-label">API CALLS</label>
      <p>$50,000/mo</p>
      <p class="pricing__info">
        Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do aiusmod tempr incididunt ut labore et ddolore
        magna aliqua.
      </p>
    </div>

    <div class="col-12 col-sm-4">
      <div class="d-flex">
        <img src="assets/images/gold-triangle.png" />
        <h2 class="pricing__section-label">Enterprise+</h2>
      </div>
      <label class="pricing__price-label">SAAS</label>
      <p>$10,000/mo</p>
      <label class="pricing__price-label">API CALLS</label>
      <p>$200,000/mo</p>
      <p class="pricing__info">
        Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do aiusmod tempr incididunt ut labore et ddolore
        magna aliqua.
      </p>
    </div>
  </div>
</div>
