@import 'src/styles/base/_variables';
@import 'src/styles/base/_typography';

.pricing {
  // Section 2 - Exploration
  &__container {
    margin-bottom: 350px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 250px;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 130px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 100px;
    }
  }

  &__section-label {
    margin-top: 27px;
    margin-left: -27px;
    @include caption2($earth-maroon);
  }

  &__price-label {
    margin-top: 30px;
    @include caption2($mono-grey1);
  }

  &__price {
    @include subhead2($mono-black);
  }

  &__info {
    margin-top: 48px;
    @include copyMedium($mono-grey1);
    @include media-breakpoint-down(sm) {
      margin-top: 24px;
    }
  }
}
