<div class="header__backdrop1">
  <div class="header__backdrop2">
    <div class="container">
      <label class="header__heading-label">{{ headingLabel }}</label>
      <h1 class="header__heading">{{ heading }}</h1>
    </div>

    <!-- Block image only displays on mobile -->
    <div>
      <img class="header__heading-image" src="assets/backgrounds/learning.png" />
    </div>

    <div class="container" *ngIf="breadcrumb1 && breadcrumb2">
      <p class="header__breadcrumb">
        {{ breadcrumb1 }} <span>/ {{ breadcrumb2 }}</span>
      </p>
    </div>
  </div>
</div>
