<!-- Modal 1 - Platform -->
<ng-container *ngIf="extendedMenuType === 'platform'; else developers">
  <div class="platform__header">
    <div class="d-flex" (click)="onBack()">
      <img src="assets/icons/arrow-left-maroon.png" />
      <p>Platform</p>
    </div>
    <div (click)="onClose()">
      <img src="assets/icons/close.png" />
    </div>
  </div>

  <div class="platform__container">
    <div class="row">
      <div class="col-12 col-md-6 mt-5">
        <p class="platform__heading">ABOUT THE PLATFORM</p>
        <p class="platform__subheading">Learn more about our tech stack</p>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="d-flex" (click)="onRoute('/platform/what-is-mantle')">
              <p class="platform__link">What is Mantle?</p>
              <div>
                <img src="assets/icons/arrow-right-maroon.png" />
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="d-flex" (click)="onRoute('/platform/what-makes-us-different')">
              <p class="platform__link">What makes Mantle different?</p>
              <div>
                <img src="assets/icons/arrow-right-maroon.png" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 mt-5">
        <div class="d-flex" (click)="onRoute('/platform/privacy')">
          <p class="platform__heading platform__heading-link">Data Privacy</p>
          <div>
            <img src="assets/icons/arrow-right-maroon.png" />
          </div>
        </div>
        <p class="platform__subheading">Keep data encrypted by policy no matter where it goes</p>
        <div class="row">
          <div class="col-12 col-md-6 d-flex d-md-block">
            <div>
              <img class="platform__icon" src="assets/icons/network.png" />
            </div>
            <div class="d-flex" (click)="onRoute('/platform/privacy/cross-cloud-storage')">
              <p class="platform__link">Advanced Cybersecurity</p>
              <div>
                <img src="assets/icons/arrow-right-maroon.png" />
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 d-flex d-md-block">
            <div>
              <img class="platform__icon" src="assets/icons/network.png" />
            </div>
            <div class="d-flex" (click)="onRoute('/platform/privacy/distributed-identity')">
              <p class="platform__link">Future Proof Architecture</p>
              <div>
                <img src="assets/icons/arrow-right-maroon.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 mt-5">
        <div class="d-flex" (click)="onRoute('/platform/auditing')">
          <p class="platform__heading platform__heading-link">Data Auditing</p>
          <div>
            <img src="assets/icons/arrow-right-maroon.png" />
          </div>
        </div>
        <p class="platform__subheading">Seize greater standardization & transparency</p>
        <div class="row">
          <div class="col-12 col-md-6 d-flex d-md-block">
            <div>
              <img class="platform__icon" src="assets/icons/network.png" />
            </div>
            <div class="d-flex" (click)="onRoute('/platform/auditing/agreement-validation')">
              <p class="platform__link">Privacy & Data Compliance</p>
              <div>
                <img src="assets/icons/arrow-right-maroon.png" />
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 d-flex d-md-block">
            <div>
              <img class="platform__icon" src="assets/icons/network.png" />
            </div>
            <div class="d-flex" (click)="onRoute('/platform/auditing/data-provenance')">
              <p class="platform__link">Data Provenance</p>
              <div>
                <img src="assets/icons/arrow-right-maroon.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-md-4">
          <div class="col-12 col-md-6 d-flex d-md-block">
            <div>
              <img class="platform__icon" src="assets/icons/network.png" />
            </div>
            <div class="d-flex" (click)="onRoute('/platform/auditing/audit-portal')">
              <p class="platform__link">Audit Portal</p>
              <div>
                <img src="assets/icons/arrow-right-maroon.png" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 mt-5">
        <div class="d-flex" (click)="onRoute('/platform/case-studies')">
          <p class="platform__heading platform__heading-link">Case Studies</p>
          <div>
            <img src="assets/icons/arrow-right-maroon.png" />
          </div>
        </div>
        <p class="platform__subheading">Explore how other businesses improve with Mantle</p>
        <div class="row">
          <div class="col-12 col-md-6 d-flex d-md-block">
            <div>
              <img class="platform__icon" src="assets/icons/network.png" />
            </div>
            <div class="d-flex" (click)="onRoute('/platform/case-studies/legal-tech')">
              <p class="platform__link">Legal Tech</p>
              <div>
                <img src="assets/icons/arrow-right-maroon.png" />
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 d-flex d-md-block">
            <div>
              <img class="platform__icon" src="assets/icons/network.png" />
            </div>
            <div class="d-flex" (click)="onRoute('/platform/case-studies/clean-tech')">
              <p class="platform__link">Clean Tech</p>
              <div>
                <img src="assets/icons/arrow-right-maroon.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-md-4">
          <div class="col-12 col-md-6 d-flex d-md-block">
            <div>
              <img class="platform__icon" src="assets/icons/network.png" />
            </div>
            <div class="d-flex" (click)="onRoute('/platform/case-studies/gaming')">
              <p class="platform__link">Gaming</p>
              <div>
                <img src="assets/icons/arrow-right-maroon.png" />
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 d-flex d-md-block">
            <div>
              <img class="platform__icon" src="assets/icons/network.png" />
            </div>
            <div class="d-flex" (click)="onRoute('/platform/case-studies/kyc')">
              <p class="platform__link">KYC</p>
              <div>
                <img src="assets/icons/arrow-right-maroon.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<!-- Modal 2 - Developers -->
<ng-template #developers>
  <div class="developers__header">
    <div class="d-flex" (click)="onBack()">
      <img src="assets/icons/arrow-left-maroon.png" />
      <p>Developers</p>
    </div>
    <div (click)="onClose()">
      <img src="assets/icons/close.png" />
    </div>
  </div>

  <div class="developers__container">
    <div class="row">
      <div class="col-12 col-md-6 mt-5">
        <p class="developers__heading">RESOURCES</p>
        <div class="d-flex d-md-block">
          <div>
            <img class="platform__icon" src="assets/icons/network.png" />
          </div>
          <div class="d-flex" (click)="onRoute('/platform/privacy/cross-cloud-storage')">
            <div>
              <p class="developers__link">Documentation</p>
              <p class="developers__subheading">Get to know our tech stack and API</p>
            </div>
            <div>
              <img src="assets/icons/arrow-right-maroon.png" />
            </div>
          </div>
        </div>
        <div class="d-flex d-md-block mt-4 mt-md-5">
          <div>
            <img class="platform__icon" src="assets/icons/network.png" />
          </div>
          <div class="d-flex" (click)="onRoute('/platform/privacy/distributed-identity')">
            <div>
              <p class="developers__link">Quickstart</p>
              <p class="developers__subheading">Get started in only 3 steps</p>
            </div>
            <div>
              <img src="assets/icons/arrow-right-maroon.png" />
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 mt-5">
        <div>
          <p class="developers__heading">PROGRAMS</p>
          <div class="d-flex" (click)="onRoute('/developers/developer-program')">
            <p class="developers__link">Developer Program</p>
            <div>
              <img src="assets/icons/arrow-right-maroon.png" />
            </div>
          </div>
          <div class="d-flex mt-3" (click)="onRoute('/developers/partner-program')">
            <p class="developers__link">Partner Program</p>
            <div>
              <img src="assets/icons/arrow-right-maroon.png" />
            </div>
          </div>
        </div>

        <div class="mt-5">
          <p class="developers__heading">MORE</p>
          <div class="d-flex" (click)="onRoute('/developers/insights')">
            <div>
              <p class="developers__link">Insights</p>
              <p class="developers__subheading">Know hows you can use</p>
            </div>
            <div>
              <img src="assets/icons/arrow-right-maroon.png" />
            </div>
          </div>
          <div class="d-flex mt-4" (click)="onRoute('/developers/supported-networks')">
            <div>
              <p class="developers__link">Supported Networks</p>
              <p class="developers__subheading">See the protocols Mantle supports</p>
            </div>
            <div>
              <img src="assets/icons/arrow-right-maroon.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>