<app-mesh-header-dark
  [headingLabel]="'DEVELOPERS'"
  [heading]="'All Insights'"
  [breadcrumb1]="'Developers'"
  [breadcrumb2]="'Insights'"
></app-mesh-header-dark>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col-12 col-md-10">
        <div class="row">
          <div *ngFor="let article of contentfulService.blog$ | async" class="col-12 col-md-6">
            <img class="insights__blog-image" [src]="article.image.fields.file.url" />
            <div class="ml-4">
              <label class="insights__blog-label">{{ article.title }}</label>
              <div class="insights__blog-footnote-container">
                <span class="insights__blog-footnote">{{ article.category }}</span
                ><span>{{ article.date.split('T')[0] }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-2 mt-5 mt-md-0">
        <div class="insights__index">
          <label class="insights__index-label">CATEGORIES</label>
          <ol>
            <li class="insights__index-item"><span>1</span><span>Ethereum</span></li>
            <li class="insights__index-item"><span>2</span><span>Corda</span></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<app-contact-form [contactForm]="contactForm"></app-contact-form>
