<app-mesh-header-dark [headingLabel]="'DEVELOPERS'" [heading]="'All Insights'"></app-mesh-header-dark>

<div class="insights__card-container" *ngIf="featuredArticle" (click)="onClick(0)">
  <div class="insights__card-content">
    <div class="insights__card-body">
      <div>
        <h4 class="insights__card-heading">{{ featuredArticle.title }}</h4>
      </div>
      <div class="insights__footnote-container">
        <p class="insights__footnote1">{{ featuredArticle.category }}</p>
        <p class="insights__footnote2">{{ featuredArticle.date.split('T')[0] }}</p>
      </div>
    </div>
  </div>
  <div>
    <img [src]="featuredArticle.image.fields.file.url" />
  </div>
</div>

<div class="insights__breadcrumb-container">
  <app-breadcrumb></app-breadcrumb>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col-12 col-md-10">
        <div class="row">
          <div *ngFor="let article of contentfulService.blog$ | async | slice: 1; let i = index" class="col-12 col-md-6">
            <app-blog-tile
              [image]="article.image.fields.file.url"
              [heading]="article.title"
              [footnote1]="article.category"
              [footnote2]="article.date.split('T')[0]"
              [offset]="true"
              (click)="onClick(i + 1)"
            ></app-blog-tile>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-2 mt-5 mt-md-0">
        <div class="insights__index">
          <label class="insights__index-label">CATEGORIES</label>
          <ol>
            <li class="insights__index-item"><span>1</span><span>Ethereum</span></li>
            <li class="insights__index-item"><span>2</span><span>Corda</span></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<app-contact-form [contactForm]="contactForm"></app-contact-form>
