<app-mesh-header-dark [headingLabel]="'DEVELOPERS'" [heading]="'All Insights'"></app-mesh-header-dark>

<div class="insights__card-container" *ngIf="featuredArticle" (click)="onClick(0)">
  <div class="insights__card-content">
    <div class="insights__card-body">
      <div>
        <h4 class="insights__card-heading">{{ featuredArticle.title }}</h4>
      </div>
      <div class="insights__footnote-container">
        <p class="insights__footnote1">{{ featuredArticle.category }}</p>
        <p class="insights__footnote2">{{ featuredArticle.date.split('T')[0] }}</p>
      </div>
    </div>
  </div>
  <div>
    <img class="insights__feature-image" [src]="featuredArticle.image.fields.file.url" />
  </div>
</div>

<div class="container">
  <div class="inset-section">
    <div class="row">
      <div *ngFor="let article of contentfulService.blog$ | async | slice: 1; let i = index"
        class="col-12 col-md-6 mb-4">
        <app-blog-tile [image]="article.image.fields.file.url" [heading]="article.title" [footnote1]="article.category"
          [footnote2]="article.date.split('T')[0]" [offset]="true" (click)="onClick(i + 1)"></app-blog-tile>
      </div>
    </div>
  </div>
</div>