/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import './base/_typography';
@import './base/_reset';
@import './base/_buttons';
@import './base/_variables';
@import './base/_fonts';

// SECTION 1 - Override bootstrap
.container {
  @include media-breakpoint-down(xs) {
    padding-left: 33px;
    padding-right: 33px;
  }
}

// Modal - Nav bar
.modal-dialog {
  margin-top: 100px;
  max-width: 85%;
  @include media-breakpoint-down(sm) {
    max-width: 100%;
    margin: 0;
  }
}

.modal-backdrop {
  opacity: 0 !important;
}

// Accordion - Footer
.acc-title {
  @include subhead3($earth-maroon);
}

.btn.btn:disabled {
  opacity: 1;
}

.btn.btn-link {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-header {
  padding: 20px 33px;
  background: $mono-white1;
}

.card-body {
  padding: 0 33px 20px 33px;
  background: $mono-white1;
}

// SECTION 2 - Global custom containers/sections
body {
  @include copyMain($mono-grey1);
}

.section {
  margin-bottom: 130px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 90px;
  }
}

.inset-section {
  margin-left: 70px;
  margin-bottom: 130px;
  @include media-breakpoint-down(sm) {
    margin-left: 0px;
    margin-bottom: 90px;
  }
}

.button {
  @include button;
}
