/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import './base/_typography';
@import './base/_reset';
@import './base/_buttons';
@import './base/_variables';
@import './base/_fonts';

// SECTION 1 - Override bootstrap
// Modal - Nav bar
.modal-dialog {
  max-width: 85%;
  @include media-breakpoint-down(sm) {
    max-width: 100%;
    margin: 0;
  }
}

.modal-backdrop {
  opacity: 0 !important;
}

// Carousel - Customer testimonial
.carousel-control-prev {
  position: relative;
  display: inline-block;
  width: 130px;
  background: red;
}

.carousel-control-next {
  position: relative;
  display: inline-block;
  width: 130px;
  background: purple;
}

.sr-only {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 30px;
  color: black;
  padding-top: 5px;
}

// Accordion - Footer
.acc-title {
  @include subhead3($earth-maroon);
}

.btn.btn:disabled {
  opacity: 1;
}

.btn.btn-link {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-header {
  background: $mono-grey4;
}

.card-body {
  background: $mono-grey4;
}

// SECTION 2 - Global custom containers/sections
body {
  @include copyMain($mono-grey1);
}

.section {
  margin-bottom: 130px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 90px;
  }
}

.inset-section {
  margin-left: 70px;
  margin-bottom: 130px;
  @include media-breakpoint-down(sm) {
    margin-left: 0px;
    margin-bottom: 90px;
  }
}

.button {
  @include button;
}
