<div class="careers container">
  <div class="careers__section1">
    <div class="d-flex">
      <div class="careers__section1--left">
        <label class="careers__heading-label">WORK WITH US</label>
        <h1 class="careers__header1">Careers</h1>
      </div>
      <img class="careers__section1--right" src="assets/images/learning.png" />
    </div>
    <p class="careers__link">Developers <span>/ Careers</span></p>
  </div>

  <div class="careers__section2">
    <div class="careers__blog">
      <div class="row">
        <div class="col-12">
          <h2 class="careers__header2">Work with the Mantle Team</h2>
          <p>
            Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do aiusmod tempr incididunt ut labore et ddolore magna
            aliqua. Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do aiusmod tempr incididunt ut labore et ddolore
            magna aliqua.
          </p>
          <br />
          <p>
            Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do aiusmod tempr incididunt ut labore et ddolore magna
            aliqua. Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do aiusmod tempr incididunt ut labore et ddolore
            magna aliqua.
          </p>
        </div>
      </div>
    </div>
    <div class="careers__index">
      <label class="careers__index-label">BENEFITS</label>
      <ul>
        <li class="careers__index-item">Lorem ipsum</li>
        <li class="careers__index-item">Lorem ipsum</li>
        <li class="careers__index-item">Lorem ipsum</li>
      </ul>
    </div>
  </div>

  <div class="careers__section3">
    <h3 class="careers__header3">Open Roles</h3>
    <div class="row">
      <div class="col-12 col-md-6">
        <img class="careers__image" src="assets/images/blog-tile.png" />
        <div class="ml-4">
          <label class="careers__department">Design</label>
          <label class="careers__role">Title of Role</label>
          <a class="careers__see-more">See more ></a>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <img class="careers__image" src="assets/images/blog-tile.png" />
        <div class="ml-4">
          <label class="careers__department">Marketing</label>
          <label class="careers__role">Title of Role</label>
          <a class="careers__see-more">See more ></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <img class="careers__image" src="assets/images/blog-tile.png" />
        <div class="ml-4">
          <label class="careers__department">Development</label>
          <label class="careers__role">Title of Role</label>
          <a class="careers__see-more">See more ></a>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <img class="careers__image" src="assets/images/blog-tile.png" />
        <div class="ml-4">
          <label class="careers__department">Accouonting</label>
          <label class="careers__role">Title of Role</label>
          <a class="careers__see-more">See more ></a>
        </div>
      </div>
    </div>
  </div>
</div>
