<app-multi-img-header [headingLabel]="'PLATFORM'" [heading]="'Case Studies'" [showBreadcrumb]="true"></app-multi-img-header>

<div class="container">
  <div class="inset-section">
    <p class="case-studies__paragraph2">
      Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <br />
    <p class="case-studies__paragraph2">
      Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>

  <h2 class="case-studies__header3">STARTUPS ENABLED BY MANTLE</h2>

  <div class="inset-section">
    <div class="row mb-3">
      <div class="col-12 col-md-6">
        <app-blog-tile
          [image]="'assets/images/blog-tile-zoom-2.png'"
          [headingLabel]="'LEGAL TECH'"
          [heading]="'Clerk'"
          [body]="'An all-in-one document management solution buiiltt with privacy & security in mind'"
          [footnote1]="'Learn more >'"
          [link]="'/platform/case-studies/legal-tech'"
          [offset]="false"
          [style]="2"
        ></app-blog-tile>
      </div>
      <div class="col-12 col-md-6">
        <app-blog-tile
          [image]="'assets/images/blog-tile-zoom-2.png'"
          [headingLabel]="'GAMING'"
          [heading]="'EGI'"
          [body]="'An in-game digital assets and collectibles with security in mind'"
          [footnote1]="'Learn more >'"
          [link]="'/platform/case-studies/gaming'"
          [offset]="false"
          [style]="2"
        ></app-blog-tile>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <app-blog-tile
          [image]="'assets/images/blog-tile-zoom-2.png'"
          [headingLabel]="'CLEAN TECH'"
          [heading]="'Greenr'"
          [body]="'A new accounting software for the complex carbon credit markets'"
          [footnote1]="'Learn more >'"
          [link]="'/platform/case-studies/clean-tech'"
          [offset]="false"
          [style]="2"
        ></app-blog-tile>
      </div>
      <div class="col-12 col-md-6">
        <app-blog-tile
          [image]="'assets/images/blog-tile-zoom-2.png'"
          [headingLabel]="'KYC'"
          [heading]="'Know Your'"
          [body]="'A new accounting software for the complex carbon credit markets'"
          [footnote1]="'Learn more >'"
          [link]="'/platform/case-studies/kyc'"
          [offset]="false"
          [style]="2"
        ></app-blog-tile>
      </div>
    </div>
  </div>
</div>
