<app-mesh-header-light [headingLabel]="'LAST MODIFIED JANUARY 23 2019'" [heading]="'Terms & Conditions'"
  [showBreadcrumb]="true"></app-mesh-header-light>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col-12 col-md-4">
        <h2 class="privacy__heading">Terms & Conditions</h2>
      </div>
      <div class="col-12 col-md-8">
        <p class="mb-4">
          Mantle Technology Inc. ("us", "we", or "our") operates the Website at https://www.mantleblockchain.com and the
          Mantle
          Technology Platform Services (the "Services") accessible via the Admin Console located at
          https://app.mantleblockchain.com or API via https://api.mantleblockchain.com.
        </p>
        <p class="mb-4">
          This privacy notice discloses the privacy practices for our Website and our Services, in regards to the
          collection, use,
          and disclosure of personal data when you use our Website or our Services and the choices you have associated
          with that
          data. We are committed to protecting and respecting your privacy.
        </p>
        <p class="mb-4">This policy (together with our terms of service and any other documents referred to in it) sets
          out:</p>
        <div class="d-flex justify-content-between mb-4">
          <ul>
            <li>Information we collect about you</li>
            <li>Cookies and other technologies</li>
            <li>How we use your information</li>
            <li>Information we collect about you</li>
            <li>Information we collect about you</li>
          </ul>
          <ul>
            <li>Information we collect about you</li>
            <li>Information we collect about you</li>
            <li>Information we collect about you</li>
            <li>Information we collect about you</li>
            <li>Information we collect about you</li>
          </ul>
        </div>
        <p class="mb-5">
          By engaging with the Website and using the Services, you agree to the collection and use of information in
          accordance
          with this policy and our terms of service. Unless otherwise defined in this Privacy Policy, terms used in this
          Privacy
          Policy have the same meanings as in our Terms of Service, accessible from
          https://www.mantleblockchain.com/terms/tos.
        </p>
      </div>
    </div>
  </div>
</div>