@import 'src/styles/base/_variables';
@import 'src/styles/base/_typography';

.split-subheader {
  &__background {
    background-color: $mono-white1;
    padding-top: 120px;
    padding-bottom: 150px;
  }

  &__header {
    @include header3($mono-grey1);
    @include media-breakpoint-down(sm) {
      margin-bottom: 24px;
    }
  }

  &__paragraph {
    @include copyMedium($mono-grey1);
  }

  &__list {
    column-count: 2;
  }
}
