<!-- Section 1 - Header Image -->
<div class="article__header-image">
  <img src="assets/backgrounds/learning.png" />
</div>

<div class="container">
  <!-- Section 2 - Header Card -->
  <div class="article__card-container">
    <div class="article__card-body">
      <div>
        <h4 class="article__card-heading">{{ article?.title }}</h4>
      </div>
      <div class="article__footnote-container">
        <p class="article__footnote1">{{ article?.category }}</p>
        <p class="article__footnote2">{{ article?.date.split('T')[0] }}</p>
      </div>
    </div>
  </div>

  <div class="article__breadcrumb-container">
    <app-breadcrumb></app-breadcrumb>
  </div>

  <!-- Section 3 - Contentful blog post-->
  <div class="inset-section">
    <div class="row">
      <div class="col-12 col-md-10">
        <div [innerHtml]="article?.body"></div>
      </div>
      <div class="col-12 col-md-2 mt-5 mt-md-0">
        <div class="ml-md-3">
          <label class="article__index-label">BENEFITS</label>
          <ul class="article__index-list">
            <li class="article__index-item">Lorem ipsum</li>
            <li class="article__index-item">Lorem ipsum</li>
            <li class="article__index-item">Lorem ipsum</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Section 4 - Related insights-->
  <div class="article__container4">
    <h3 class="article__header4">RELATED INSIGHTS</h3>
    <div class="inset-section" *ngIf="relatedArticle1 && relatedArticle2">
      <div class="row">
        <div class="col-12 col-md-10">
          <div class="row">
            <div class="col-12 col-md-6 mb-4">
              <app-blog-tile [image]="relatedArticle1.image.fields.file.url" [heading]="relatedArticle1.title"
                [footnote1]="relatedArticle1.category" [footnote2]="relatedArticle1.date.split('T')[0]" [offset]="true"
                (click)="onClick('previous')"></app-blog-tile>
            </div>
            <div class="col-12 col-md-6">
              <app-blog-tile [image]="relatedArticle2.image.fields.file.url" [heading]="relatedArticle2.title"
                [footnote1]="relatedArticle2.category" [footnote2]="relatedArticle2.date.split('T')[0]" [offset]="true"
                (click)="onClick('next')"></app-blog-tile>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>