@import 'src/styles/base/_variables';
@import 'src/styles/base/_typography';

.app-background {
  background-image: url('/assets/backgrounds/stripes.png');
  position: sticky;
}

// TODO - Below can be be deleted after construction page is turned off
.construction {
  &__background {
    background: $earth-maroon;
    height: calc(100vh - 92px);
    padding-top: 150px;
    background-image: url('/assets/backgrounds/construction-mesh-desktop.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    @include media-breakpoint-down(xs) {
      background-size: 100% auto;
      background-image: url('/assets/backgrounds/construction-mesh-mobile.png');
    }
  }

  &__heading-label {
    margin-bottom: 4px;
    @include caption2($earth-yellow);
  }

  &__heading {
    @include header1($mono-white);
  }

  &__subheading {
    margin-top: 16px;
    margin-bottom: 32px;
    @include copyMedium($mono-white);
  }
}

.nav-bar {
  &__header {
    display: flex;
    justify-content: space-between;
    padding: 30px 15px;
    color: $mono-black;
    @include media-breakpoint-down(sm) {
      padding: 24px 30px;
    }
  }

  &__header-shadow {
    @include media-breakpoint-down(sm) {
      background: $mono-white;

      z-index: 2;
      position: relative;
      box-shadow: 0px 18px 72px rgba(240, 240, 240, 0.25), 0px 16px 44px rgba(240, 240, 240, 0.196645),
        0px 9px 24px rgba(240, 240, 240, 0.0435925), 0px 4px 10px rgba(240, 240, 240, 0.02);
    }
  }

  &__secondary-background {
    background: $earth-maroon;
  }

  &__logo {
    cursor: pointer;
    padding-top: 9px;
    margin: 0 15px;
    @include media-breakpoint-down(sm) {
      padding: 0;
      margin: 0;
      width: 85%;
    }
  }

  &__item {
    cursor: pointer;
    padding-top: 17px;
    margin: 0 15px;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__link {
    color: $mono-white;
    &:hover {
      text-decoration: none;
    }
    @include media-breakpoint-down(sm) {
      color: $earth-maroon;
    }
  }

  &__button {
    margin-left: 40px;
    margin-right: 15px;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__menu-toggle {
    margin-top: 5px;
    display: none;
    @include media-breakpoint-down(sm) {
      display: block;
    }
  }

  // Mobile dropdown menu
  &__menu-container {
    height: calc(100vh - 92px); // Added
    z-index: 1; // Added
    position: absolute;
    width: 100%;
    background: $mono-white;
    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  &__menu-item {
    display: flex;
    justify-content: space-between;
    padding: 24px 30px;
    border-bottom: 2px solid $mono-grey4;
    @include subhead2($earth-maroon);
  }

  &__menu-button {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 24px 30px;
  }
}
