<!-- Modal 1 - Platform -->
<ng-container *ngIf="extendedMenuType === 'platform'; else developers">
  <div class="platform__header">
    <div class="d-flex" (click)="onBack()">
      <img src="assets/icons/arrow-left.png" />
      <p>Platform</p>
    </div>
    <div (click)="onClose()">
      <img src="assets/icons/close.png" />
    </div>
  </div>

  <div class="platform__container">
    <div class="row">
      <div class="col-12 col-md-6 mt-5">
        <p class="platform__title">ABOUT THE PLATFORM</p>
        <p class="platform__subheader">Learn more about our tech stack</p>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="d-flex" (click)="onRoute('/platform/privacy/cross-cloud-storage')">
              <p class="platform__link">What is Mantle?</p>
              <div>
                <img src="assets/icons/arrow-right.png" />
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="d-flex" (click)="onRoute('/platform/privacy/distributed-identity')">
              <p class="platform__link">What makes Mantle different?</p>
              <div>
                <img src="assets/icons/arrow-right.png" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 mt-5">
        <div class="d-flex">
          <p class="platform__title">Data Privacy</p>
          <div>
            <img src="assets/icons/arrow-right.png" />
          </div>
        </div>
        <p class="platform__subheader">Keep data encrypted by policy no matter where it goes</p>
        <div class="row">
          <div class="col-12 col-md-6 d-flex d-md-block">
            <div>
              <img class="platform__icon" src="assets/icons/network.png" />
            </div>
            <div class="d-flex" (click)="onRoute('/platform/privacy/cross-cloud-storage')">
              <p class="platform__link">Cross Cloud Storage</p>
              <div>
                <img src="assets/icons/arrow-right.png" />
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 d-flex d-md-block">
            <div>
              <img class="platform__icon" src="assets/icons/network.png" />
            </div>
            <div class="d-flex" (click)="onRoute('/platform/privacy/distributed-identity')">
              <p class="platform__link">Distributed Identity</p>
              <div>
                <img src="assets/icons/arrow-right.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 mt-5">
        <div class="d-flex">
          <p class="platform__title">Data Auditing</p>
          <div>
            <img src="assets/icons/arrow-right.png" />
          </div>
        </div>
        <p class="platform__subheader">Seize greater standardization & transparency</p>
        <div class="row">
          <div class="col-12 col-md-6 d-flex d-md-block">
            <div>
              <img class="platform__icon" src="assets/icons/network.png" />
            </div>
            <div class="d-flex" (click)="onRoute('/platform/privacy/cross-cloud-storage')">
              <p class="platform__link">Agreement Validation</p>
              <div>
                <img src="assets/icons/arrow-right.png" />
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 d-flex d-md-block">
            <div>
              <img class="platform__icon" src="assets/icons/network.png" />
            </div>
            <div class="d-flex" (click)="onRoute('/platform/privacy/distributed-identity')">
              <p class="platform__link">Data Provenance</p>
              <div>
                <img src="assets/icons/arrow-right.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-md-4">
          <div class="col-12 col-md-6 d-flex d-md-block">
            <div>
              <img class="platform__icon" src="assets/icons/network.png" />
            </div>
            <div class="d-flex" (click)="onRoute('/platform/privacy/cross-cloud-storage')">
              <p class="platform__link">Audit Portal</p>
              <div>
                <img src="assets/icons/arrow-right.png" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 mt-5">
        <div class="d-flex">
          <p class="platform__title">Case Studies</p>
          <div>
            <img src="assets/icons/arrow-right.png" />
          </div>
        </div>
        <p class="platform__subheader">Explore how other businesses improve with Mantle</p>
        <div class="row">
          <div class="col-12 col-md-6 d-flex d-md-block">
            <div>
              <img class="platform__icon" src="assets/icons/network.png" />
            </div>
            <div class="d-flex" (click)="onRoute('/platform/privacy/cross-cloud-storage')">
              <p class="platform__link">Legal Tech</p>
              <div>
                <img src="assets/icons/arrow-right.png" />
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 d-flex d-md-block">
            <div>
              <img class="platform__icon" src="assets/icons/network.png" />
            </div>
            <div class="d-flex" (click)="onRoute('/platform/privacy/distributed-identity')">
              <p class="platform__link">Clean Tech</p>
              <div>
                <img src="assets/icons/arrow-right.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-md-4">
          <div class="col-12 col-md-6 d-flex d-md-block">
            <div>
              <img class="platform__icon" src="assets/icons/network.png" />
            </div>
            <div class="d-flex" (click)="onRoute('/platform/privacy/cross-cloud-storage')">
              <p class="platform__link">Gaming</p>
              <div>
                <img src="assets/icons/arrow-right.png" />
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 d-flex d-md-block">
            <div>
              <img class="platform__icon" src="assets/icons/network.png" />
            </div>
            <div class="d-flex" (click)="onRoute('/platform/privacy/distributed-identity')">
              <p class="platform__link">KYC</p>
              <div>
                <img src="assets/icons/arrow-right.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<!-- Modal 2 - Developers -->
<ng-template #developers>
  <div class="developers__header">
    <div class="d-flex" (click)="onBack()">
      <img src="assets/icons/arrow-left.png" />
      <p>Developers</p>
    </div>
    <div (click)="onClose()">
      <img src="assets/icons/close.png" />
    </div>
  </div>

  <div class="developers__container">
    <div class="row">
      <div class="col-12 col-md-6 mt-5">
        <p class="developers__title">RESOURCES</p>
        <div class="d-flex d-md-block">
          <div>
            <img class="platform__icon" src="assets/icons/network.png" />
          </div>
          <div class="d-flex" (click)="onRoute('/platform/privacy/cross-cloud-storage')">
            <div>
              <p class="developers__link">Documentation</p>
              <p class="developers__subheader">Get to know our tech stack and API</p>
            </div>
            <div>
              <img src="assets/icons/arrow-right.png" />
            </div>
          </div>
        </div>
        <div class="d-flex d-md-block mt-4 mt-md-5">
          <div>
            <img class="platform__icon" src="assets/icons/network.png" />
          </div>
          <div class="d-flex" (click)="onRoute('/platform/privacy/distributed-identity')">
            <div>
              <p class="developers__link">Quickstart</p>
              <p class="developers__subheader">Get started in only 3 steps</p>
            </div>
            <div>
              <img src="assets/icons/arrow-right.png" />
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 mt-5">
        <div>
          <p class="developers__title">PROGRAMS</p>
          <div class="d-flex" (click)="onRoute('/developers/developer-program')">
            <p class="developers__link">Developer Program</p>
            <div>
              <img src="assets/icons/arrow-right.png" />
            </div>
          </div>
          <div class="d-flex mt-3" (click)="onRoute('/developers/partner-program')">
            <p class="developers__link">Partner Program</p>
            <div>
              <img src="assets/icons/arrow-right.png" />
            </div>
          </div>
        </div>

        <div class="mt-5">
          <p class="developers__title">MORE</p>
          <div class="d-flex" (click)="onRoute('/developers/insights')">
            <div>
              <p class="developers__link">Insights</p>
              <p class="developers__subheader">Know hows you can use</p>
            </div>
            <div>
              <img src="assets/icons/arrow-right.png" />
            </div>
          </div>
          <div class="d-flex mt-4" (click)="onRoute('/developers/supported-networks')">
            <div>
              <p class="developers__link">Supported Networks</p>
              <p class="developers__subheader">See the protocols Mantle supports</p>
            </div>
            <div>
              <img src="assets/icons/arrow-right.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
