@import 'src/styles/base/_variables';
@import 'src/styles/base/_typography';

// Modal 1 - Platform
.platform {
  &__container {
    padding: 0 30px 30px 30px;
  }

  &__header {
    display: none;
    @include subhead2($earth-maroon);
    @include media-breakpoint-down(sm) {
      display: flex;
      justify-content: space-between;
      padding: 30px;
      box-shadow: 0px 18px 72px rgba(240, 240, 240, 0.25), 0px 16px 44px rgba(240, 240, 240, 0.196645),
        0px 9px 24px rgba(240, 240, 240, 0.0435925), 0px 4px 10px rgba(240, 240, 240, 0.02);
    }
  }

  &__heading {
    @include captionSubNav($earth-maroon);
  }

  &__heading-link {
    cursor: pointer;
  }

  &__subheading {
    padding-bottom: 20px;
    margin-bottom: 45px;
    border-bottom: 1px solid $mono-grey4;
    @include copyMicro($mono-grey3);
    @include media-breakpoint-down(sm) {
      margin-bottom: 4px;
      border-bottom: none;
    }
  }

  &__icon {
    margin-right: 8px;
    width: 24px;
    height: auto;
  }

  &__link {
    cursor: pointer;
    @include copyMicro($mono-black);
  }
}

// Modal 2 - Developers
.developers {
  &__container {
    padding: 0 30px 30px 30px;
  }

  &__header {
    display: none;
    @include subhead2($earth-maroon);
    @include media-breakpoint-down(sm) {
      display: flex;
      justify-content: space-between;
      padding: 30px;
      box-shadow: 0px 18px 72px rgba(240, 240, 240, 0.25), 0px 16px 44px rgba(240, 240, 240, 0.196645),
        0px 9px 24px rgba(240, 240, 240, 0.0435925), 0px 4px 10px rgba(240, 240, 240, 0.02);
    }
  }

  &__title {
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid $mono-grey4;
    @include captionSubNav($earth-maroon);
    @include media-breakpoint-down(sm) {
      padding-bottom: 0px;
      margin-bottom: 26px;
      border-bottom: none;
    }
  }

  &__subheader {
    @include copyMicro($mono-grey3);
  }

  &__icon {
    margin-right: 8px;
    width: 24px;
    height: auto;
  }

  &__link {
    @include copyMicro($mono-black);
  }
}
