<div class="partner-program">
  <div class="container">
    <div class="partner-program__section1">
      <div class="d-flex">
        <div class="partner-program__section1--left">
          <label class="partner-program__heading-label">PARTNER PROGRAM</label>
          <h1 class="partner-program__header1">Let's grow the trust economy together</h1>
          <p>
            From consulting to cloud providers, if you believe that digital experiences can be tranformed by the use of
            blockchain, get in touch.
          </p>
        </div>
        <img class="partner-program__section1--right" src="assets/images/learning.png" />
      </div>
      <div class="row mt-4">
        <div class="col-12 col-sm-3 col-md-3 col-lg-2">
          <button class="button__primary">Request Access</button>
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-2">
          <button class="button__secondary">Contact Us</button>
        </div>
      </div>
      <p class="partner-program__link">Developers <span>/ Partner Program</span></p>
    </div>

    <div class="partner-program__section2">
      <h2 class="partner-program__header2">Together, we can build global trust</h2>
      <p class="partner-program__subheader2">Mantle Join us in igniting blockchain adoption worldwide.</p>
      <div class="partner-program__tile-container d-flex justify-space-around">
        <div>
          <img class="partner-program__tile" src="assets/images/content-tile-1.png" />
          <img class="partner-program__tile" src="assets/images/content-tile-2.png" />
        </div>
        <div>
          <img class="partner-program__tile--offset" src="assets/images/content-tile-3.png" />
        </div>
      </div>
    </div>

    <div class="partner-program__section3 row">
      <div class="col-12 col-md-6">
        <h3 class="partner-program__header3">A world of possibilities with Mantle</h3>
      </div>
      <div class="col-12 col-md-6">
        <p class="partner-program__description3">
          Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do aiusmod tempr incididunt ut labore et ddolore magna
        </p>
        <ul class="row">
          <li class="col-12 col-sm-6">Cross Cloud Storage</li>
          <li class="col-12 col-sm-6">Distributed Identity</li>
          <li class="col-12 col-sm-6">Agreement Validation</li>
          <li class="col-12 col-sm-6">Data Provenance</li>
          <li class="col-12 col-sm-6">Audit Portal</li>
          <li class="col-12 col-sm-6">Cross Cloud Storage</li>
          <li class="col-12 col-sm-6">Distributed Identity</li>
          <li class="col-12 col-sm-6">Agreement Validation</li>
          <li class="col-12 col-sm-6">Data Provenance</li>
          <li class="col-12 col-sm-6">Audit Portal</li>
        </ul>
      </div>
    </div>
  </div>

  <app-contact-form [contactForm]="contactForm"></app-contact-form>
</div>
