@import 'src/styles/base/_variables';
@import 'src/styles/base/_typography';

.single-column {
  &__heading {
    @include header3($earth-maroon);
  }

  &__body-container {
    max-width: 540px;
    margin-left: 50%;
    @include media-breakpoint-down(sm) {
      margin-left: 0;
    }
  }

  &__body-title {
    margin-bottom: 24px;
    @include subhead2($earth-maroon);
  }

  &__body-description {
    @include copyMedium($mono-grey1);
  }
}
