@import 'src/styles/base/_variables';
@import 'src/styles/base/_typography';

.testimonials {
  &__header {
    margin-bottom: 48px;
    @include header3($earth-maroon);
    @include media-breakpoint-down(sm) {
      margin-bottom: 24px;
    }
  }

  &__subheader {
    max-width: 315px;
    @include copyLarge($mono-grey1);
    @include media-breakpoint-down(sm) {
      max-width: 100%;
    }
  }

  &__card {
    padding: 40px;
    width: 643px;
    height: fit-content;
    background: $mono-white;
    margin-right: 30px;
    box-shadow: 0px 18px 72px rgba(240, 240, 240, 0.45), 0px 16px 44px rgba(240, 240, 240, 0.4),
      0px 9px 24px rgba(240, 240, 240, 0.15), 0px 4px 12px -2px rgba(88, 88, 88, 0.05);
    @include media-breakpoint-down(sm) {
      padding: 15px;
      width: 100%;
    }
  }

  &__card-header {
    margin-bottom: 32px;
    @include subhead2($earth-maroon);
  }

  &__card-label {
    @include caption2($mono-grey3);
  }

  // Desktop only
  &__carousel-container {
    margin-top: -150px;
    margin-bottom: 240px;
    overflow: hidden;
    display: block;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__carousel {
    margin-left: 40%;
    display: inline-flex;
  }

  &__previous {
    cursor: pointer;
    display: flex;
    margin-right: 30px;
  }

  &__next {
    cursor: pointer;
    display: flex;
  }

  &__disabled {
    cursor: none;
    opacity: 0.5;
  }
}
