<div class="pricing">
  <div>
    <label>PLATFORM</label>
    <h1>What is Mantle?</h1>
  </div>
  <img src="assets/learning.png" />
</div>

<div>
  <label>MANTLE'S TECHNOLOGY OFFERING</label>
  <div class="d-flex justify-content-between">
    <div>
      <h2>Audit</h2>
      <p>Digital identity & data audit trail</p>
      <ul>
        <li>Removes redundant data duplication</li>
        <li>Provides a single source of truth for dispute resolution</li>
      </ul>
    </div>
    <div>
      <h2>Privacy</h2>
      <p>Data privacy & governance to enhance cybersecurity</p>
      <ul>
        <li>Reduces risks and complexities of hosting & securing data locally</li>
        <li>No longer dependent on a single cloud provider with multi-cloud hosting</li>
      </ul>
    </div>
  </div>
</div>
