<div class="about">
  <div class="container">
    <div class="about__section1">
      <div class="d-flex">
        <div class="about__section1--left">
          <label class="about__heading-label">ABOUOT US</label>
          <h1 class="about__header1">Delivering Trust-as-a Service</h1>
        </div>
        <img class="about__section1--right" src="assets/images/learning.png" />
      </div>
      <p class="about__link">Developers <span>/ About</span></p>
    </div>

    <div class="about__section2">
      <div class="about__blog">
        <div class="row">
          <div class="col-12">
            <h2 class="about__header2">Work with the Mantle Team</h2>
            <p>
              Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do aiusmod tempr incididunt ut labore et ddolore magna
              aliqua. Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do aiusmod tempr incididunt ut labore et ddolore
              magna aliqua.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do aiusmod tempr incididunt ut labore et ddolore magna
              aliqua. Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do aiusmod tempr incididunt ut labore et ddolore
              magna aliqua.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <img class="about__blog-image" src="assets/images/blog-tile.png" />
            <label class="about__blog-label">Automating Carrier Fulfillment & Quoting for Brokers</label>
            <label class="about__blog-footnote">BLOCKCHAIN</label>
          </div>
          <div class="col-12 col-md-6">
            <img class="about__blog-image" src="assets/images/blog-tile.png" />
            <label class="about__blog-label">Automating Carrier Fulfillment & Quoting for Brokers</label>
            <label class="about__blog-footnote">BLOCKCHAIN</label>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <img class="about__blog-image" src="assets/images/blog-tile.png" />
            <label class="about__blog-label">Automating Carrier Fulfillment & Quoting for Brokers</label>
            <label class="about__blog-footnote">BLOCKCHAIN</label>
          </div>
          <div class="col-12 col-md-6">
            <img class="about__blog-image" src="assets/images/blog-tile.png" />
            <label class="about__blog-label">Automating Carrier Fulfillment & Quoting for Brokers</label>
            <label class="about__blog-footnote">BLOCKCHAIN</label>
          </div>
        </div>
      </div>
      <div class="about__index">
        <label class="about__index-label">BENEFITS</label>
        <ol>
          <li class="about__index-item"><span>1</span><span>Ethereum</span></li>
          <li class="about__index-item"><span>2</span><span>Corda</span></li>
        </ol>
      </div>
    </div>
  </div>

  <app-contact-form
    [title]="'Subscribe to newsletter'"
    [subtitle]="
      'Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do aiusmod
  tempr incididunt ut labore et ddolore magna aliqua.'
    "
    [formType]="'newsletter'"
  ></app-contact-form>
</div>
