@import 'src/styles/base/_variables';
@import 'src/styles/base/_typography';

.about {
  // Section 1 - Delivering trust
  &__section1 {
    padding-top: 246px;
    margin-bottom: 62px;
    background-image: url('/assets/backgrounds/mesh-pricing.png');
    background-repeat: no-repeat;
    background-position: right top;
  }

  &__heading-label {
    margin-bottom: 20px;
    max-width: 636px;
    @include caption2($earth-red);
  }

  &__header1 {
    margin-bottom: 16px;
    max-width: 636px;
    @include header1($earth-maroon);
  }

  &__link {
    margin-bottom: 70px;
    @include captionSubNav($earth-brown);
    span {
      @include captionSubNav($mono-grey3);
    }
  }

  // Section 2 - Work with the Mantle team
  &__section2 {
    margin-left: 70px;
    margin-bottom: 136px;
    display: flex;
  }

  &__header2 {
    margin-bottom: 21px;
    @include subhead2($earth-maroon);
  }

  &__paragraph2 {
    @include copyMedium($mono-grey1);
  }

  &__people-container {
    margin-top: 66px;
  }

  &__person-container {
    margin: 0 auto;
    max-width: 257px;
  }

  &__headshot {
    margin-bottom: 32px;
    width: 100%;
  }

  &__name {
    display: block;
    margin-bottom: 4px;
    @include subhead2($earth-maroon);
  }

  &__position {
    display: block;
    padding-bottom: 32px;
    margin-bottom: 55px;
    border-bottom: 1px solid $earth-orange;
    @include caption2($earth-red);
  }

  // Index Column - Milestones
  &__index {
    margin-left: 45px;
    width: 255px;
  }

  &__index-label {
    margin-bottom: 28px;
    @include caption2($earth-red);
  }

  &__index-item {
    display: flex;
    margin-bottom: 30px;
  }

  &__circle--filled {
    margin-right: 15px;
    height: 25px;
    width: 25px;
    background: $earth-orange;
    border-radius: 50%;
  }

  &__circle--empty {
    margin-right: 15px;
    height: 25px;
    width: 25px;
    border: 1px solid $earth-orange;
    border-radius: 50%;
  }

  &__index-year {
    @include caption2($earth-maroon);
  }

  &__index-title {
    margin-bottom: 16px;
    @include subhead1($earth-maroon);
  }
}
