<p>article works! {{ id }}</p>

<div class="container">
  <div class="inset-section">
    <div class="row">
      <div class="col-12 col-md-10">
        <h2 class="careers__header2">Work with the Mantle Team</h2>
        <p class="careers__paragraph2">
          Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </p>
      </div>
      <div class="col-12 col-md-2 mt-5 mt-md-0">
        <div class="ml-md-3">
          <label class="careers__index-label">BENEFITS</label>
          <ul class="careers__index-list">
            <li class="careers__index-item">Lorem ipsum</li>
            <li class="careers__index-item">Lorem ipsum</li>
            <li class="careers__index-item">Lorem ipsum</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<app-contact-form [contactForm]="contactForm"></app-contact-form>
