<app-multi-img-header [headingLabel]="'PLATFORM'" [heading]="'Privacy & Data Compliance'" [showBreadcrumb]="false">
</app-multi-img-header>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-7 col-xl-6">
      <p class="privacy-data__header">
        We enhance our client’s data privacy protocols to world-leading standards
      </p>
      <p class="privacy-data__paragraph">
        Mantle’s innovation in cross-cloud data storage allows businesses to ensure that their data remains as secure as
        possible, whether at rest or in use. Our platform utilizes novel matricial data sharding to fragment and store
        data across multiple data storage units. Only permissioned users from your business have the ability to derive
        insights or reassemble the data.
      </p>
    </div>
    <div class="privacy-data__image-container privacy-data__image-container--gray">
      <img class="privacy-data__image" src="assets/images/square-img-laughing.png" />
    </div>
  </div>

  <div class="row privacy-data__row">
    <div class="col-12 col-lg-7 col-xl-6">
      <p class="privacy-data__header">
        Eradicate ransomware attacks with Mantle.
      </p>
      <p class="privacy-data__paragraph">
        In tandem with blockchain technology and SmartHashing, our platform’s distributed data storage layer ensures the
        safe keeping of your valuable data. Mantle is able to safely store data across both physical on-premise data
        servers and secure cloud platforms.
        <br><br>
        Through Mantle, our clients’ data is stored in a format protected from ‘honeypot’ attacks or cyber theft, with
        sensitive information securely spread across multiple platforms and around the globe.

      </p>
    </div>
    <div class="privacy-data__image-container">
      <img class="privacy-data__image" src="assets/images/square-img-pen.png" />
    </div>
  </div>
</div>