<div class="container">
  <div class="section">
    <h2 class="trusted-companies__header">INNOVATIVE COMPANIES TRUST MANTLE</h2>
    <div class="row">
      <div class="col-6 col-md-3">
        <img class="trusted-companies__image" src="assets/images/network-tile.png" />
      </div>
      <div class="col-6 col-md-3">
        <img class="trusted-companies__image" src="assets/images/network-tile.png" />
      </div>
      <div class="col-6 col-md-3">
        <img class="trusted-companies__image" src="assets/images/network-tile.png" />
      </div>
      <div class="col-6 col-md-3">
        <img class="trusted-companies__image" src="assets/images/network-tile.png" />
      </div>
    </div>
  </div>
</div>
