<app-multi-img-header
  [headingLabel]="'PLATFORM'"
  [heading]="'What Makes Us Different'"
  [showBreadcrumb]="false"
></app-multi-img-header>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-7 col-xl-6">
      <div class="different__content-container1">
        <p class="different__paragraph">
          Developers can focus on their front-end application development while Mantle's technology infrastructure powers all
          blockchain and data storage needs.
        </p>
      </div>
    </div>
    <div class="different__image-container different__image-container--gray">
      <img class="different__image" src="assets/images/square-img-laughing.png" />
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-7 col-xl-6">
      <div class="different__content-container2">
        <p class="different__paragraph">
          Not just for enterprise. Mantle enables startups to rapidly bring their blockchain use case to life. With Mantle,
          Startups can focus their resources on front-end development and customer experience while we take care of all back-end
          capabilities.
        </p>
      </div>
    </div>
    <div class="different__image-container">
      <img class="different__image" src="assets/images/square-img-pen.png" />
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-7 col-xl-6">
      <div class="different__content-container1">
        <p class="different__paragraph">
          Mantle expedites blockchain-application development giving an edge to both enterprises and small businesses looking to
          extract the benefits of advanced data audit and privacy.
        </p>
      </div>
    </div>
    <div class="different__image-container different__image-container--gray">
      <img class="different__image" src="assets/images/square-img-learning.png" />
    </div>
  </div>
</div>

<div class="different__companies-container">
  <app-trusted-companies></app-trusted-companies>
</div>
