<app-multi-img-header
  [headingLabel]="'PLATFORM'"
  [heading]="'What Makes Us Different'"
  [showBreadcrumb]="false"
></app-multi-img-header>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-7 col-xl-6">
      <div class="different__content-container">
        <p class="different__paragraph">
          Developers can focuse on their front end application development while Mantle's technology infrastructure powers all
          blockchain and data storage needs.
        </p>
      </div>
    </div>
    <div class="different__image-container different__image-container--gray">
      <img class="different__image" src="assets/images/square-img-laughing.png" />
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-7 col-xl-6">
      <div class="different__content-container">
        <p class="different__paragraph">
          Developers can focuse on their front end application development while Mantle's technology infrastructure powers all
          blockchain and data storage needs.
        </p>
      </div>
    </div>
    <div class="different__image-container">
      <img class="different__image" src="assets/images/square-img-pen.png" />
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-7 col-xl-6">
      <div class="different__content-container">
        <p class="different__paragraph">
          Developers can focuse on their front end application development while Mantle's technology infrastructure powers all
          blockchain and data storage needs.
        </p>
      </div>
    </div>
    <div class="different__image-container different__image-container--gray">
      <img class="different__image" src="assets/images/square-img-learning.png" />
    </div>
  </div>
</div>

<div class="different__companies-container">
  <app-trusted-companies></app-trusted-companies>
</div>
