<app-single-img-header
  [headingLabel]="'DATA PRIVACY'"
  [heading]="'Cross Cloud Storage'"
  [subheading]="'Bring your business\'s cybersecurity into the 21st century. No hassle. No risk. Just security.'"
  [showBreadcrumb]="true"
></app-single-img-header>

<app-split-subheader
  [heading]="'Decentralized storage for your secure cloud environment'"
  [subheading]="'Eliminate the risks of dependence on any one cloud provider with Mantle\'s multi-cloud secure solution.'"
></app-split-subheader>

<app-trusted-companies></app-trusted-companies>

<!-- Section 4 - How it works -->
<div class="container">
  <div class="section">
    <div class="row mb-5">
      <div class="col-12 col-md-8 col-xl-6">
        <h3 class="storage__header4">How it works</h3>
        <p class="storage__subheader4">
          Mantle improves your company's cybersecurity without disrupting your day to day workflows, utilizing cutting-edge
          cryptography.
        </p>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-12 col-md-6 text-right mr-5">
        <img src="assets/images/shape-3.png" />
      </div>
      <div class="col-12 col-md-5">
        <h4 class="storage__title4">Describe what feature #1 does</h4>
        <p>
          Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </p>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-12 col-md-4 text-right mr-5">
        <img src="assets/images/shape-2.png" />
      </div>
      <div class="col-12 col-md-5">
        <h4 class="storage__title4">Describe what feature #2 does</h4>
        <p>
          Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 text-right mr-5">
        <img src="assets/images/shape-1.png" />
      </div>
      <div class="col-12 col-md-5">
        <h4 class="storage__title4">Describe what feature #3 does</h4>
        <p>
          Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </p>
      </div>
    </div>
  </div>
</div>

<app-staggered-icons [data]="crossCloudStorage"></app-staggered-icons>

<app-testimonials></app-testimonials>
