<app-single-img-header
  [heading]="'This is the brand promise'"
  [subheading]="
    'Mantle is a cost-effective enterprise blockchain thats built for change. Add a few lines of code to enhance your data securrity and transparency'
  "
  [showBreadcrumb]="false"
></app-single-img-header>

<app-trusted-companies></app-trusted-companies>

<div class="home__section3">
  <div class="d-flex justify-content-between">
    <div class="home__section--left">
      <h2 class="home__header3">How Mantle Empowers other Industries</h2>
      <p>
        Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <button class="button__primary d-flex justify-content-between">
        Learn more <img src="assets/icons/arrow-diagonal-black.png" />
      </button>
    </div>
    <div>
      <app-poster
        [title]="'Cross Cloud Storage'"
        [category]="'PRIVACY'"
        [description]="'Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor'"
        [style]="1"
      ></app-poster>
      <app-poster
        [title]="'Aagreement Validation'"
        [category]="'AUDITING'"
        [description]="'Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor'"
        [style]="2"
      ></app-poster>
      <app-poster
        [title]="'Distributed Identity'"
        [category]="'PRIVACY'"
        [description]="'Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor'"
        [style]="3"
      ></app-poster>
    </div>
  </div>
</div>

<!-- Section 4 -->
<div class="home__background4">
  <div class="container">
    <div class="section">
      <h3 class="home__header4">Make every developer a blockchain developer</h3>
      <p class="home__paragraph4">Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor</p>
    </div>
  </div>
</div>

<div class="home__background5">
  <div class="container">
    <!-- Section 5 -->
    <div class="section">
      <div class="row">
        <div class="col-12 col-md-6">
          <h4 class="home__header5">Future-proof Blockchain Architecture</h4>
          <p class="home__paragraph5">
            Comitting to a single blockchain can pose many issues in the future. Mantle's blockchain agnostic apprroach ensures
            that you cann experience continuity in your business.
          </p>
        </div>
        <div class="col-12 col-md-6">
          <img src="assets/images/blockchain-examples.png" width="100%" />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Section 6 -->
<div class="container">
  <div class="section">
    <a class="home__link" routerLink="/developers/insights">INSIGHTS FROM MANTLE ></a>
    <div class="row">
      <div *ngFor="let article of contentfulService.blog$ | async | slice: 0:2" class="col-12 col-md-6">
        <img class="home__blog-image" [src]="article.image.fields.file.url" />
        <div class="ml-4">
          <label class="home__blog-label">{{ article.title }}</label>
          <div class="home__blog-footnote-container">
            <span class="home __blog-footnote">{{ article.category }}</span
            ><span>{{ article.date.split('T')[0] }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
