@import 'src/styles/base/_variables';
@import 'src/styles/base/_typography';

.home {
  // Section 2 - Mantle is a plug & play solution
  &__container2 {
    padding-top: 130px;
    padding-bottom: 120px;
    background: $earth-maroon;
    @include media-breakpoint-down(sm) {
      padding-top: 90px;
      padding-bottom: 80px;
    }
  }

  &__header2 {
    max-width: 800px;
    margin: auto;
    text-align: center;
    @include header3($mono-white1);
  }

  &__paragraph2 {
    max-width: 760px;
    margin: 40px auto;
    text-align: center;
    @include copyMedium($mono-white1);
  }

  // Section 3 - Mantle empowers
  &__bg3 {
    background: linear-gradient(178.15deg, rgba(240, 240, 240, 0) 1.08%, #f0f0f0 32.39%);
  }

  &__container3 {
    padding-top: 100px;
    padding-bottom: 150px;
    background-image: url('/assets/backgrounds/mesh-home-poster.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: right top;
    @include media-breakpoint-down(sm) {
      padding-bottom: 90px;
    }
  }

  &__header3 {
    @include header3($earth-maroon);
  }

  &__paragraph3 {
    margin: 32px 0;
    @include copyMedium($mono-grey1);
  }

  &__button3 {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    width: 75%;
    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &__posters-container {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
    @include media-breakpoint-down(lg) {
      position: relative;
      width: 100%;
      justify-content: center;
    }
    @include media-breakpoint-down(sm) {
      display: block;
    }
    @include media-breakpoint-down(xs) {
      padding: 0 18px;
    }
  }

  &__poster-container {
    @include media-breakpoint-down(sm) {
      width: fit-content;
      margin: 0 auto;
    }
    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }

  // Section 4 - Make every developer
  &__background4 {
    background: $earth-maroon;
  }

  &__header4 {
    padding-top: 78px;
    margin-bottom: 24px;
    text-align: center;
    @include header3($mono-white);
  }

  &__paragraph4 {
    margin-bottom: 107px;
    text-align: center;
    @include copyLarge($mono-white);
  }

  &__option {
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 35px;
    cursor: pointer;
    @include caption2($mono-white);
  }

  &__option--unselected {
    opacity: 0.5;
    border-bottom: 1px solid $mono-white;
  }

  &__option--selected {
    border-bottom: 1px solid $earth-yellow;
  }

  &__selected-icon {
    position: absolute;
    top: -17px;
    left: 90px;
    @include media-breakpoint-down(lg) {
      left: 60px;
    }
    @include media-breakpoint-down(md) {
      left: 19px;
    }
    @include media-breakpoint-down(sm) {
      left: 171px;
    }
    @include media-breakpoint-down(xs) {
      left: calc(50vw - 120px);
    }
  }

  &__option-label {
    position: relative;
    z-index: 1;
  }

  &__image-container {
    margin-bottom: -50px;
  }

  &__image {
    margin-bottom: -6px;
    width: 100%;
  }

  &__image-footer--left {
    width: 85%;
    text-align: right;
    padding: 10px 20px;
    color: $mono-black;
    background: #c4c4c4;
    @include media-breakpoint-down(xs) {
      width: 75%;
    }
  }

  &__image-footer--right {
    width: 15%;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    color: $mono-white;
    background: $mono-black;
    @include media-breakpoint-down(xs) {
      width: 25%;
    }
  }

  // Section 5 - Build on any blockchain
  &__background5 {
    padding-top: 180px;
    background: $mono-white1;
    @include media-breakpoint-down(sm) {
      padding-top: 100px;
    }
  }

  &__section-container5 {
    padding-bottom: 115px;
    @include media-breakpoint-down(sm) {
      padding-bottom: 60px;
    }
  }

  &__header5 {
    margin-bottom: 20px;
    @include header3($earth-maroon);
    @include media-breakpoint-down(sm) {
      margin-bottom: 12px;
    }
  }

  &__paragraph5 {
    @include copyLarge($mono-grey1);
    @include media-breakpoint-down(sm) {
      margin-bottom: 40px;
    }
  }

  // Section 6 - Blog
  &__link {
    display: block;
    margin-bottom: 58px;
    @include caption2($earth-red);
  }
}
