<app-single-img-header [heading]="'Mantle makes it easy for businesses to benefit from blockchain.'"
  [showBreadcrumb]="false">
</app-single-img-header>

<app-split-subheader [heading]="'Mantle is a plug & play solution for businesses to adopt emerging technologies.'"
  [subheading]="'We deliver the benefits of blockchain without the costs and complexities of new technology adoption.'">
</app-split-subheader>

<!-- Section 3 - Mantle empowers -->
<div class="container">
  <div class="row">
    <div class="home__container3 col-12 col-lg-5 col-xl-4">
      <h2 class="home__header3">Mantle Enables Businesses to Benefit from Emerging Technologies </h2>
      <button class="button__primary home__button3" routerLink="/platform/what-is-mantle">
        Learn more <img src="assets/icons/arrow-diagonal-black.png" />
      </button>
    </div>

    <div class="home__posters-backdrop">
      <img src="assets/backgrounds/mesh-home-poster.png" />
    </div>

    <div class="home__posters-container">
      <div class="home__poster-container mb-3 mb-md-0">
        <app-poster [title]="'Advanced Cybersecurity'" [style]="1" [link]="'/platform/advanced-cybersecurity'"
          [size]="1"></app-poster>
      </div>
      <div class="home__poster-container mb-3 mb-md-0 ml-md-4">
        <app-poster [title]="'Privacy & Data Compliance'" [style]="2" [link]="'/platform/privacy-data-compliance'"
          [size]="1"></app-poster>
      </div>
      <div class="home__poster-container ml-md-4">
        <app-poster [title]="'Future Proof Architecture'" [style]="3" [link]="'/platform/future-proof-architecture'"
          [size]="1"></app-poster>
      </div>
    </div>
  </div>
</div>

<!-- Section 4 - Make every developer-->
<div class="home__background4">
  <div class="container">
    <h3 class="home__header4">Mantle's platform makes every developer a blockchain developer.</h3>
    <p class="home__paragraph4">
      Developers can focus on their front-end application development while Mantle's technology infrastructure powers
      all
      blockchain and data storage needs.
    </p>
    <!-- <div class="row">
      <div class="col-12 col-md-4">
        <p class="home__option"
          [ngClass]="selectedSection === 1 ? 'home__option--selected' : 'home__option--unselected'"
          (click)="selectedSection = 1">
          <img *ngIf="selectedSection === 1" class="home__selected-icon" src="assets/icons/circle-gold.png" />
          <span class="home__option-label">LOREM IPSUM</span>
        </p>
      </div>
      <div class="col-12 col-md-4">
        <p class="home__option"
          [ngClass]="selectedSection === 2 ? 'home__option--selected' : 'home__option--unselected'"
          (click)="selectedSection = 2">
          <img *ngIf="selectedSection === 2" class="home__selected-icon" src="assets/icons/circle-gold.png" />
          <span class="home__option-label">LOREM IPSUM</span>
        </p>
      </div>
      <div class="col-12 col-md-4">
        <p class="home__option"
          [ngClass]="selectedSection === 3 ? 'home__option--selected' : 'home__option--unselected'"
          (click)="selectedSection = 3">
          <img *ngIf="selectedSection === 3" class="home__selected-icon" src="assets/icons/circle-gold.png" />
          <span class="home__option-label">LOREM IPSUM</span>
        </p>
      </div>
    </div> -->
    <div class="home__image-container">
      <img class="home__image" src="assets/images/code.png" />
      <div class="d-flex">
        <div class="home__image-footer--left">
          <p>Help</p>
        </div>
        <div class="home__image-footer--right">
          <img src="assets/icons/play.png" />
          <p>Run</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Section 5 - Future proof -->
<div class="home__background5">
  <div class="container">
    <div class="section">
      <div class="home__section-container5 row">
        <div class="col-12 col-md-6">
          <h4 class="home__header5">Build on any blockchain with Mantle</h4>
          <p class="home__paragraph5">
            Mantle’s virtualization layer allows for applications to be blockchain agnostic, removing the risk of
            infrastructure obsolescence forever.
          </p>
        </div>
        <div class="col-12 col-md-6">
          <img src="assets/images/blockchain-examples.png" width="100%" />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Section 6 - Insights-->
<div class="container">
  <a class="home__link" routerLink="/developers/insights">INSIGHTS FROM MANTLE ></a>
  <div class="inset-section">
    <div class="row">
      <div *ngFor="let article of contentfulService.blog$ | async | slice: 0:2; let i = index" class="col-12 col-md-6"
        [ngClass]="{ 'mb-3 mb-md-0': i === 0 }">
        <app-blog-tile [image]="article.image.fields.file.url" [heading]="article.title" [footnote1]="article.category"
          [footnote2]="article.date.split('T')[0]" [offset]="true"></app-blog-tile>
      </div>
    </div>
  </div>
</div>