<app-single-img-header
  [heading]="'This is the brand promise'"
  [subheading]="'Mantle deliverrs the benefits of blockchain, without the complexity and cost of infrastructure change.'"
  [showBreadcrumb]="false"
></app-single-img-header>

<app-trusted-companies></app-trusted-companies>

<!-- Section 3 - Mantle empowers -->
<div class="container">
  <div class="row">
    <div class="home__content-container col-12 col-lg-5 col-xl-4">
      <h2 class="home__header3">Mantle Empowers & Protects Businesses</h2>
      <p class="home__paragraph3">Mantle's technology offering exttends businesses' data audit & privacy capabilities.</p>
      <button class="button__primary d-flex justify-content-between" routerLink="/platform/what-is-mantle">
        Learn more <img src="assets/icons/arrow-diagonal-black.png" />
      </button>
    </div>

    <div class="home__posters-backdrop">
      <img src="assets/backgrounds/mesh-home-poster.png" />
    </div>

    <div class="home__posters-container">
      <div class="home__poster-container mb-3 mb-md-0">
        <app-poster
          [title]="'Cross Cloud Storage'"
          [category]="'PRIVACY'"
          [style]="1"
          [link]="'/platform/privacy/cross-cloud-storage'"
          [size]="1"
        ></app-poster>
      </div>
      <div class="home__poster-container mb-3 mb-md-0 ml-md-4">
        <app-poster
          [title]="'Agreement Validation'"
          [category]="'AUDITING'"
          [style]="2"
          [link]="'/platform/auditing/agreement-validation'"
          [size]="1"
        ></app-poster>
      </div>
      <div class="home__poster-container ml-md-4">
        <app-poster
          [title]="'Distributed Identity'"
          [category]="'PRIVACY'"
          [style]="3"
          [link]="'/platform/privacy/distributed-identity'"
          [size]="1"
        ></app-poster>
      </div>
    </div>
  </div>
</div>

<!-- Section 4 - Make every developer-->
<div class="home__background4">
  <div class="container">
    <h3 class="home__header4">Mantle's platform makes every developer a blockchain developer.</h3>
    <p class="home__paragraph4">
      Developers can focus on their front-end application development while Mantle's technology infrastructure powers all
      blockchain and data storage needs.
    </p>
    <div class="row">
      <div class="col-12 col-md-4">
        <p
          class="home__option"
          [ngClass]="selectedSection === 1 ? 'home__option--selected' : 'home__option--unselected'"
          (click)="selectedSection = 1"
        >
          <img *ngIf="selectedSection === 1" class="home__selected-icon" src="assets/icons/circle-gold.png" />
          <span class="home__option-label">LOREM IPSUM</span>
        </p>
      </div>
      <div class="col-12 col-md-4">
        <p
          class="home__option"
          [ngClass]="selectedSection === 2 ? 'home__option--selected' : 'home__option--unselected'"
          (click)="selectedSection = 2"
        >
          <img *ngIf="selectedSection === 2" class="home__selected-icon" src="assets/icons/circle-gold.png" />
          <span class="home__option-label">LOREM IPSUM</span>
        </p>
      </div>
      <div class="col-12 col-md-4">
        <p
          class="home__option"
          [ngClass]="selectedSection === 3 ? 'home__option--selected' : 'home__option--unselected'"
          (click)="selectedSection = 3"
        >
          <img *ngIf="selectedSection === 3" class="home__selected-icon" src="assets/icons/circle-gold.png" />
          <span class="home__option-label">LOREM IPSUM</span>
        </p>
      </div>
    </div>
    <div class="home__image-container">
      <img class="home__image" src="assets/images/code.png" />
      <div class="d-flex">
        <div class="home__image-footer--left"><p>Help</p></div>
        <div class="home__image-footer--right">
          <img src="assets/icons/play.png" />
          <p>Run</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Section 5 - Future proof -->
<div class="home__background5">
  <div class="container">
    <div class="section">
      <div class="home__section-container5 row">
        <div class="col-12 col-md-6">
          <h4 class="home__header5">Future-proof Blockchain Architecture</h4>
          <p class="home__paragraph5">
            Comitting to a single blockchain can pose many issues in the future. Mantle's blockchain agnostic apprroach ensures
            that you cann experience continuity in your business.
          </p>
        </div>
        <div class="col-12 col-md-6">
          <img src="assets/images/blockchain-examples.png" width="100%" />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Section 6 - Insights-->
<div class="container">
  <div class="section">
    <a class="home__link" routerLink="/developers/insights">INSIGHTS FROM MANTLE ></a>
    <div class="row">
      <div *ngFor="let article of contentfulService.blog$ | async | slice: 0:2" class="col-12 col-md-6">
        <app-blog-tile
          [image]="article.image.fields.file.url"
          [heading]="article.title"
          [footnote1]="article.category"
          [footnote2]="article.date.split('T')[0]"
          [offset]="true"
        ></app-blog-tile>
      </div>
    </div>
  </div>
</div>
