<div class="footer__background">
  <div>
    <img class="footer__mobile-mesh" src="assets/backgrounds/mesh-footer-mobile.png" />
  </div>

  <div class="container">
    <div class="footer__section1 row">
      <div class="col-12 col-lg-7">
        <h3 class="footer__header">{{ isPrimaryContent ? header1 : header2 }}</h3>
        <p class="footer__subheader">{{ isPrimaryContent ? subheader1 : subheader2 }}</p>
      </div>
      <div class="col-12 col-lg-5">
        <div class="row">
          <div class="col-12 col-sm-10 col-md-7 mt-4 mt-lg-0">
            <button class="button__primary d-flex justify-content-between" (click)="openAccessModal()">
              Request access <img src="assets/icons/arrow-diagonal-black.png" />
            </button>
          </div>
          <div class="col-12 col-sm-8 col-md-5 mt-4 mt-lg-0">
            <button class="button__secondary d-flex justify-content-between" routerLink="/company/faq">
              FAQ <img src="assets/icons/arrow-diagonal-maroon.png" />
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Desktop view -->
    <div class="d-none d-md-block">
      <div class="row">
        <div class="col-5">
          <div>
            <label class="footer__label">Follow us</label>
            <img src="assets/icons/social-youtube.png" />
            <img class="ml-3 mr-3" src="assets/icons/social-linkedin.png" />
            <img src="assets/icons/social-github.png" />
          </div>

          <div class="footer__logo-container">
            <img src="assets/icons/logo-primary.png" />
            <p>506 Mcgill St. Suite 500 Montreal (QC) H2Y 2H6 Canada</p>
            <p>+1 (844) 657-3228 <a class="footer__email" href="mailto:someone@yoursite.com">info@mantleblockchain.com</a></p>
          </div>
        </div>

        <div class="col-7 d-flex justify-content-between">
          <div>
            <label class="footer__label">Platform</label>
            <ul>
              <li class="footer__item mb-4" routerLink="/platform/what-is-mantle">What is Mantle?</li>
              <li class="footer__item mb-4" routerLink="/platform/what-makes-us-different">What Makes Us Different</li>
              <li class="footer__item mb-4" routerLink="/platform/privacy">Privacy</li>
              <li class="footer__item mb-4" routerLink="/platform/auditing">Auditing</li>
              <li class="footer__item mb-4" routerLink="/platform/case-studies">Case Studies</li>
              <li class="footer__item" routerLink="/platform/pricing">Pricing</li>
            </ul>
          </div>
          <div>
            <label class="footer__label">Developers</label>
            <ul>
              <li class="footer__item mb-4" routerLink="/developers/developer-program">Developer Program</li>
              <li class="footer__item mb-4" routerLink="/developers/partner-program">Partner Program</li>
              <li class="mb-4">
                <a class="footer__link" href="https://developer.mantleblockchain.com/docs/keeper-quickstart">Quickstart</a>
              </li>
              <li class="footer__item mb-4" routerLink="/developers/insights">Insights</li>
              <li class="mb-4"><a class="footer__link" href="https://developer.mantleblockchain.com/docs">Documentation</a></li>
              <li class="footer__item" routerLink="/developers/supported-networks">Supported Networks</li>
            </ul>
          </div>
          <div>
            <label class="footer__label">Company</label>
            <ul>
              <li class="footer__item mb-4" routerLink="/company/about">About</li>
              <li class="footer__item mb-4" routerLink="/company/careers">Careers</li>
              <li class="footer__item mb-4" routerLink="/company/faq">FAQ</li>
              <li class="footer__item" routerLink="/company/contact-us">Contact Us</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile view -->
  <div class="d-block d-md-none">
    <ngb-accordion #footerAccordion closeOthers="true">
      <ngb-panel disabled="true">
        <ng-template ngbPanelTitle>
          <span class="acc-title">Follow us</span>
          <div>
            <img src="assets/icons/social-youtube.png" />
            <img class="ml-3 mr-3" src="assets/icons/social-linkedin.png" />
            <img src="assets/icons/social-github.png" />
          </div>
        </ng-template>
      </ngb-panel>

      <ngb-panel>
        <ng-template ngbPanelTitle
          ><span class="acc-title">Platform</span><img src="assets/icons/arrow-down-maroon.png"
        /></ng-template>
        <ng-template ngbPanelContent>
          <ul>
            <li class="footer__item mb-2" (click)="onClick('/platform/what-is-mantle')">What is Mantle?</li>
            <li class="footer__item mb-2" (click)="onClick('/platform/what-makes-us-different')">What Makes Us Different</li>
            <li class="footer__item mb-2" (click)="onClick('/platform/privacy')">Privacy</li>
            <li class="footer__item mb-2" (click)="onClick('/platform/auditing')">Auditing</li>
            <li class="footer__item mb-2" (click)="onClick('/platform/case-studies')">Case Studies</li>
            <li class="footer__item" (click)="onClick('/platform/pricing')">Pricing</li>
          </ul>
        </ng-template>
      </ngb-panel>

      <ngb-panel>
        <ng-template ngbPanelTitle
          ><span class="acc-title">Developers</span><img src="assets/icons/arrow-down-maroon.png"
        /></ng-template>
        <ng-template ngbPanelContent>
          <ul>
            <li class="footer__item mb-2" (click)="onClick('/developers/developer-program')">Developer Program</li>
            <li class="footer__item mb-2" (click)="onClick('/developers/partner-program')">Partner Program</li>
            <li class="mb-2">
              <a class="footer__link" href="https://developer.mantleblockchain.com/docs/keeper-quickstart">Quickstart</a>
            </li>
            <li class="footer__item mb-2" (click)="onClick('/developers/insights')">Insights</li>
            <li class="mb-2"><a class="footer__link" href="https://developer.mantleblockchain.com/docs">Documentation</a></li>
            <li class="footer__item" (click)="onClick('/developers/supported-networks')">Supported Networks</li>
          </ul>
        </ng-template>
      </ngb-panel>

      <ngb-panel>
        <ng-template ngbPanelTitle
          ><span class="acc-title">Company</span><img src="assets/icons/arrow-down-maroon.png"
        /></ng-template>
        <ng-template ngbPanelContent>
          <ul>
            <li class="footer__item mb-2" (click)="onClick('/company/about')">About</li>
            <li class="footer__item mb-2" (click)="onClick('/company/careers')">Careers</li>
            <li class="footer__item mb-2" (click)="onClick('/company/faq')">FAQ</li>
            <li class="footer__item" (click)="onClick('/company/contact-us')">Contact Us</li>
          </ul>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
    <div class="footer__logo-container container">
      <img src="assets/icons/logo-primary.png" />
      <p>506 Mcgill St. Suite 500 Montreal (QC) H2Y 2H6 Canada</p>
      <p>+1 (844) 657-3228 <a class="footer__email" href="mailto:someone@yoursite.com">info@mantleblockchain.com</a></p>
    </div>
  </div>

  <div class="container">
    <p class="footer__footnote">
      Mantle Technology. All Rights Reserved. | <span routerLink="/legal/privacy-policy">Privacy</span> |
      <span routerLink="/legal/terms">Terms & Conditions</span>
    </p>
  </div>
</div>
