@import 'src/styles/base/_variables';
@import 'src/styles/base/_typography';

.networks {
  &__breadcrumb-container {
    margin-bottom: 66px;
  }

  // Section 2 - Blog + Index
  &__index {
    text-align: right;
  }

  &__index-label {
    margin-bottom: 28px;
    @include caption2($earth-red);
  }

  &__index-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }
}
