<div class="networks">
  <div class="container">
    <div class="networks__section1">
      <div class="d-flex">
        <div class="networks__section1--left">
          <label class="networks__heading-label">DEVELOPERS</label>
          <h1 class="networks__header1">See our supported</h1>
        </div>
        <img class="networks__section1--right" src="assets/images/learning.png" />
      </div>
      <p class="networks__link">Developers <span>/ Supported Networks</span></p>
    </div>

    <div class="networks__section2">
      <div class="networks__blog">
        <div class="row">
          <div class="col-12 col-md-4">
            <img class="networks__blog-image" src="assets/images/network-tile.png" />
            <div class="ml-4">
              <label class="networks__blog-label">PegaSys Plus</label>
              <div class="networks__blog-footnote-container">
                <p>Builds on Hyperledger Besu, PegaSys Plus deliverrs features</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <img class="networks__blog-image" src="assets/images/network-tile.png" />
            <div class="ml-4">
              <label class="networks__blog-label">PegaSys Plus</label>
              <div class="networks__blog-footnote-container">
                <p>Builds on Hyperledger Besu, PegaSys Plus deliverrs features</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <img class="networks__blog-image" src="assets/images/network-tile.png" />
            <div class="ml-4">
              <label class="networks__blog-label">PegaSys Plus</label>
              <div class="networks__blog-footnote-container">
                <p>Builds on Hyperledger Besu, PegaSys Plus deliverrs features</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <img class="networks__blog-image" src="assets/images/network-tile.png" />
            <div class="ml-4">
              <label class="networks__blog-label">PegaSys Plus</label>
              <div class="networks__blog-footnote-container">
                <p>Builds on Hyperledger Besu, PegaSys Plus deliverrs features</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <img class="networks__blog-image" src="assets/images/network-tile.png" />
            <div class="ml-4">
              <label class="networks__blog-label">PegaSys Plus</label>
              <div class="networks__blog-footnote-container">
                <p>Builds on Hyperledger Besu, PegaSys Plus deliverrs features</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <img class="networks__blog-image" src="assets/images/network-tile.png" />
            <div class="ml-4">
              <label class="networks__blog-label">PegaSys Plus</label>
              <div class="networks__blog-footnote-container">
                <p>Builds on Hyperledger Besu, PegaSys Plus deliverrs features</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <img class="networks__blog-image" src="assets/images/network-tile.png" />
            <div class="ml-4">
              <label class="networks__blog-label">PegaSys Plus</label>
              <div class="networks__blog-footnote-container">
                <p>Builds on Hyperledger Besu, PegaSys Plus deliverrs features</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <img class="networks__blog-image" src="assets/images/network-tile.png" />
            <div class="ml-4">
              <label class="networks__blog-label">PegaSys Plus</label>
              <div class="networks__blog-footnote-container">
                <p>Builds on Hyperledger Besu, PegaSys Plus deliverrs features</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <img class="networks__blog-image" src="assets/images/network-tile.png" />
            <div class="ml-4">
              <label class="networks__blog-label">PegaSys Plus</label>
              <div class="networks__blog-footnote-container">
                <p>Builds on Hyperledger Besu, PegaSys Plus deliverrs features</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="networks__index">
        <label class="networks__index-label">CATEGORIES</label>
        <ol>
          <li class="networks__index-item"><span>1</span><span>Ethereum</span></li>
          <li class="networks__index-item"><span>2</span><span>Corda</span></li>
        </ol>
      </div>
    </div>
  </div>

  <app-contact-form [contactForm]="contactForm"></app-contact-form>
</div>
