<app-mesh-header-dark
  [headingLabel]="'DEVELOPERS'"
  [heading]="'See our supported networks'"
  [breadcrumb1]="'Developers'"
  [breadcrumb2]="'Supported Networks'"
></app-mesh-header-dark>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col-12 col-md-10">
        <div class="row">
          <div *ngFor="let supportedNetwork of supportedNetworks" class="col-12 col-md-4 mb-3">
            <app-blog-tile
              [image]="supportedNetwork.image"
              [heading]="supportedNetwork.title"
              [body]="supportedNetwork.description"
              [offset]="false"
              [style]="1"
            ></app-blog-tile>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-2 mt-5 mt-md-0">
        <div class="networks__index">
          <label class="networks__index-label">CATEGORIES</label>
          <ol>
            <li class="networks__index-item"><span>1</span><span>Ethereum</span></li>
            <li class="networks__index-item"><span>2</span><span>Corda</span></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
