<app-mesh-header-dark
  [headingLabel]="'DEVELOPERS'"
  [heading]="'See our supported networks'"
  [breadcrumb1]="'Developers'"
  [breadcrumb2]="'Supported Networks'"
></app-mesh-header-dark>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col-12 col-md-10">
        <div class="row">
          <div class="col-12 col-md-4">
            <img class="networks__blog-image" src="assets/images/network-tile.png" />
            <div class="ml-4">
              <label class="networks__blog-label">PegaSys Plus</label>
              <div class="networks__blog-footnote-container">
                <p>Builds on Hyperledger Besu, PegaSys Plus deliverrs features</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <img class="networks__blog-image" src="assets/images/network-tile.png" />
            <div class="ml-4">
              <label class="networks__blog-label">PegaSys Plus</label>
              <div class="networks__blog-footnote-container">
                <p>Builds on Hyperledger Besu, PegaSys Plus deliverrs features</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <img class="networks__blog-image" src="assets/images/network-tile.png" />
            <div class="ml-4">
              <label class="networks__blog-label">PegaSys Plus</label>
              <div class="networks__blog-footnote-container">
                <p>Builds on Hyperledger Besu, PegaSys Plus deliverrs features</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <img class="networks__blog-image" src="assets/images/network-tile.png" />
            <div class="ml-4">
              <label class="networks__blog-label">PegaSys Plus</label>
              <div class="networks__blog-footnote-container">
                <p>Builds on Hyperledger Besu, PegaSys Plus deliverrs features</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <img class="networks__blog-image" src="assets/images/network-tile.png" />
            <div class="ml-4">
              <label class="networks__blog-label">PegaSys Plus</label>
              <div class="networks__blog-footnote-container">
                <p>Builds on Hyperledger Besu, PegaSys Plus deliverrs features</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <img class="networks__blog-image" src="assets/images/network-tile.png" />
            <div class="ml-4">
              <label class="networks__blog-label">PegaSys Plus</label>
              <div class="networks__blog-footnote-container">
                <p>Builds on Hyperledger Besu, PegaSys Plus deliverrs features</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <img class="networks__blog-image" src="assets/images/network-tile.png" />
            <div class="ml-4">
              <label class="networks__blog-label">PegaSys Plus</label>
              <div class="networks__blog-footnote-container">
                <p>Builds on Hyperledger Besu, PegaSys Plus deliverrs features</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <img class="networks__blog-image" src="assets/images/network-tile.png" />
            <div class="ml-4">
              <label class="networks__blog-label">PegaSys Plus</label>
              <div class="networks__blog-footnote-container">
                <p>Builds on Hyperledger Besu, PegaSys Plus deliverrs features</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <img class="networks__blog-image" src="assets/images/network-tile.png" />
            <div class="ml-4">
              <label class="networks__blog-label">PegaSys Plus</label>
              <div class="networks__blog-footnote-container">
                <p>Builds on Hyperledger Besu, PegaSys Plus deliverrs features</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-2 mt-5 mt-md-0">
        <div class="networks__index">
          <label class="networks__index-label">CATEGORIES</label>
          <ol>
            <li class="networks__index-item"><span>1</span><span>Ethereum</span></li>
            <li class="networks__index-item"><span>2</span><span>Corda</span></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
