@import 'src/styles/base/_variables';
@import 'src/styles/base/_typography';

.future-proof {
  &__header {
    padding-top: 40px;
    margin-bottom: 45px; 
    @include copyLarge($earth-maroon);
    @include media-breakpoint-down(md) {
      padding-top: 40px;
      margin-bottom: 20px; 
    }
  }

  &__paragraph {
    margin-bottom: 95px;
    @include copyLarge($mono-grey1);
    @include media-breakpoint-down(md) {
      padding-top: 0;
      margin-bottom: 20px;
    }
  }

  &__image-container {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    text-align: right;
    @include media-breakpoint-down(md) {
      position: relative;
    }
  }

  &__image-container--gray {
    background: $mono-white1;
    @include media-breakpoint-down(md) {
      background: none;
    }
  }

  &__image {
    max-width: 600px;
    max-height: 600px;
    margin-bottom: -6px;
    @include media-breakpoint-down(lg) {
      max-width: 440px;
      max-height: 440px;
    }
    @include media-breakpoint-down(md) {
      margin: 0 auto 20px 0;
      padding: 0 15px;
      max-width: 100%;
    }
  }

  &__row {
    margin-bottom: 200px;
  }
}
