<app-multi-img-header [headingLabel]="'PLATFORM'" [heading]="'Future Proof Architecture'" [showBreadcrumb]="false">
</app-multi-img-header>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-7 col-xl-6">
      <p class="future-proof__header">
        Build on any blockchain with Mantle.
      </p>
      <p class="future-proof__paragraph">
        Mantle allows businesses to benefit from blockchain technology without dealing with the costs and complexities
        of infrastructure development.
        <br><br>
        Blockchain development is often complex and time-consuming. It is also required for businesses to commit to a
        single blockchain. We have seen countless businesses spend significant time and resources, only to get to the
        proof-of-concept stage without seeing the benefits of the technology.

      </p>
    </div>
    <div class="future-proof__image-container future-proof__image-container--gray">
      <img class="future-proof__image" src="assets/images/square-img-laughing.png" />
    </div>
  </div>

  <div class="row future-proof__row">
    <div class="col-12 col-lg-7 col-xl-6">
      <p class="future-proof__header">
        Mantle allows businesses to benefit from blockchain, with the risk of infrastructure obsolescence.
      </p>
      <p class="future-proof__paragraph">
        Immutable bandwidth captures information in time without the ability for anyone to go back and change these
        records once written. Unlike traditional blockchain development, Mantle does not record all your data on a
        blockchain, which can be costly and . in a unique way where only our insight-packed SmartHashes are recorded on
        the blockchain, utilizing blockchain in a much more scalable way.
        <br><br>
        With the ability to deploy applications on any existing blockchain protocol, and with the ability to seamlessly
        switch in the future, Mantle eliminates the need to worry about which blockchain you use.
      </p>
    </div>
    <div class="future-proof__image-container">
      <img class="future-proof__image" src="assets/images/square-img-pen.png" />
    </div>
  </div>
</div>