<div class="access__container">
  <form [formGroup]="contactForm" name="contact" method="post" (ngSubmit)="onSubmit()">
    <input type="hidden" name="form-name" value="contact" />

    <div class="row">
      <div class="col-12 col-sm-6">
        <input
          class="access__input-text"
          type="text"
          name="firstName"
          formControlName="firstName"
          placeholder="First Name"
          required
        />
      </div>
      <div class="col-12 col-sm-6">
        <input
          class="access__input-text"
          type="text"
          name="lastName"
          formControlName="lastName"
          placeholder="Last Name"
          required
        />
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <input
          class="access__input-text"
          type="text"
          name="company"
          formControlName="company"
          placeholder="Company Name"
          required
        />
      </div>
    </div>

    <!-- <div class="row">
      <div class="col-12 col-sm-6">
        <input class="access__input-text" type="text" name="title" placeholder="Title" />
      </div>
      <div class="col-12 col-sm-6">
        <select name="role[]" multiple>
          <option value="leader">Leader</option>
          <option value="follower">Follower</option>
        </select>
      </div>
    </div> -->

    <div class="row">
      <div class="col-12 col-sm-6">
        <input class="access__input-text" type="text" name="title" formControlName="title" placeholder="Title" required />
      </div>
      <!-- <div class="col-12 col-sm-6">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Role</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Architect</button>
            <button ngbDropdownItem>Developer</button>
            <button ngbDropdownItem>Executive</button>
            <button ngbDropdownItem>Manager</button>
            <button ngbDropdownItem>Other</button>
          </div>
        </div>
      </div> -->
    </div>

    <div class="row">
      <div class="col-12">
        <input
          class="access__input-text"
          type="email"
          name="email"
          formControlName="email"
          placeholder="you@example.com"
          required
        />
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <textarea
          class="access__input-textarea"
          name="message"
          formControlName="message"
          placeholder="To accelerate access, provide some details on your intended use of Mantle BAAS."
          rrequirred
        ></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6 m-auto">
        <button class="button__primary" type="submit">Request access</button>
      </div>
    </div>
  </form>
</div>

<!-- <form [formGroup]="contactForm" name="contact" id="contact-form" method="post" (ngSubmit)="onSubmit()">
  <input type="hidden" name="form-name" value="contact" />

  <div class="form-row"><label>Your Name: </label><input type="text" name="name" formControlName="name" required /></div>
  <div class="form-row"><label>Email Address: </label><input type="email" name="email" formControlName="email" required /></div>
  <div class="form-row"><label>A Favorite Work of Art: </label><input type="text" name="art" formControlName="art" /></div>
  <div class="form-row">
    <label>Your Message:</label><textarea id="message" name="message" formControlName="message" required></textarea>
  </div>
  <div id="button-row">
    <button id="submit-button" type="submit">Send!</button>
  </div>
</form> -->
