<!-- Main navigation horizontal header -->
<div class="nav-bar__header" [ngClass]="{ 'nav-bar__secondary-background': !isPrimaryHeader }">
  <ul class="d-flex">
    <li routerLink="/home">
      <img class="nav-bar__logo" [src]="isPrimaryHeader ? 'assets/icons/logo-primary.png' : 'assets/icons/logo-secondary.png'" />
    </li>
    <li class="nav-bar__item" [ngClass]="{ 'nav-bar__secondary-color': !isPrimaryHeader }" (click)="openMenuModal('platform')">
      Platform
    </li>
    <li class="nav-bar__item" [ngClass]="{ 'nav-bar__secondary-color': !isPrimaryHeader }" (click)="openMenuModal('developers')">
      Developers
    </li>
    <li class="nav-bar__item" [ngClass]="{ 'nav-bar__secondary-color': !isPrimaryHeader }" routerLink="/platform/pricing">
      Pricing
    </li>
    <li class="nav-bar__item" [ngClass]="{ 'nav-bar__secondary-color': !isPrimaryHeader }" routerLink="/company/about">About</li>
  </ul>
  <ul class="d-flex">
    <li class="nav-bar__item" [ngClass]="{ 'nav-bar__secondary-color': !isPrimaryHeader }" routerLink="/company/faq">FAQ</li>
    <li class="nav-bar__item" [ngClass]="{ 'nav-bar__secondary-color': !isPrimaryHeader }">
      <a class="nav-bar__link" href="https://app.mantleblockchain.com/login">Login</a>
    </li>
    <li class="nav-bar__button">
      <button class="button__primary" (click)="openAccessModal()">Request Access</button>
    </li>
    <li class="nav-bar__menu-toggle" (click)="toggleMobileMenu()">
      <img *ngIf="showMobileMenu" src="assets/icons/close.png" />
      <img *ngIf="!showMobileMenu" src="assets/icons/hamburger-menu.png" />
    </li>
  </ul>
</div>

<!-- Mobile dropdown menu -->
<ul *ngIf="showMobileMenu" class="nav-bar__menu">
  <li class="nav-bar__menu-item" [ngClass]="{ 'nav-bar__secondary-color': !isPrimaryHeader }" (click)="openMenuModal('platform')">
    Platform
    <img src="assets/icons/arrow-right-maroon.png" />
  </li>
  <li
    class="nav-bar__menu-item"
    [ngClass]="{ 'nav-bar__secondary-color': !isPrimaryHeader }"
    (click)="openMenuModal('developers')"
  >
    Developers
    <img src="assets/icons/arrow-right-maroon.png" />
  </li>
  <li class="nav-bar__menu-item" [ngClass]="{ 'nav-bar__secondary-color': !isPrimaryHeader }" routerLink="/platform/pricing">
    Pricing
  </li>
  <li class="nav-bar__menu-item" [ngClass]="{ 'nav-bar__secondary-color': !isPrimaryHeader }" routerLink="/company/about">
    About
  </li>
  <li class="nav-bar__menu-button">
    <button class="button__primary" (click)="openAccessModal()">Request Access</button>
  </li>
</ul>
