<div class="nav-bar" [ngClass]="{ 'nav-bar__secondary-background': !isPrimaryHeader }">
  <ul class="d-flex">
    <li [routerLink]="'/home'">
      <img class="nav-bar__logo" [src]="isPrimaryHeader ? 'assets/icons/logo-primary.png' : 'assets/icons/logo-secondary.png'" />
    </li>
    <li class="nav-bar__item" [ngClass]="{ 'nav-bar__secondary-color': !isPrimaryHeader }" [routerLink]="'/platform'">
      Platform
    </li>
    <li class="nav-bar__item" [ngClass]="{ 'nav-bar__secondary-color': !isPrimaryHeader }" [routerLink]="'/developers'">
      Developers
    </li>
    <li class="nav-bar__item" [ngClass]="{ 'nav-bar__secondary-color': !isPrimaryHeader }" [routerLink]="'/platform/pricing'">
      Pricing
    </li>
    <li class="nav-bar__item" [ngClass]="{ 'nav-bar__secondary-color': !isPrimaryHeader }" [routerLink]="'/company/about'">
      About
    </li>
  </ul>
  <ul class="d-flex">
    <li class="nav-bar__item" [ngClass]="{ 'nav-bar__secondary-color': !isPrimaryHeader }" [routerLink]="'/company/faq'">FAQ</li>
    <li class="nav-bar__item" [ngClass]="{ 'nav-bar__secondary-color': !isPrimaryHeader }" [routerLink]="'/login'">Login</li>
    <li class="nav-bar__button" [routerLink]="'/access'">
      <button class="button__primary">Request Access</button>
    </li>
  </ul>
</div>
