@font-face {
  font-display: "swap";
  font-family: "Prophet Regular";
  font-weight: 400;
  src: url("../assets/fonts/Prophet-Regular.ttf") format("truetype");
}

@font-face {
  font-display: "swap";
  font-family: "Circular Std Regular";
  font-weight: 400;
  src: url("../assets/fonts/CircularStd-Regular.otf") format("truetype");
}
