@import '../bootstrap-4.5.2/_breakpoints.scss';

// Headers
@mixin header1($color) {
  font-family: $prophet-regular;
  color: $color;
  font-weight: 400;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: 0.02em;
  @include media-breakpoint-down(xs) {
    font-size: 52px;
  }
}

@mixin header2($color) {
  font-family: $prophet-regular;
  color: $color;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.02em;
  @include media-breakpoint-down(sm) {
    font-weight: 500;
  }
  @include media-breakpoint-down(xs) {
    font-size: 36px;
  }
}

@mixin header3($color) {
  font-family: $prophet-regular;
  color: $color;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  @include media-breakpoint-down(xs) {
    font-size: 28px;
  }
}

// Subheaders
@mixin subhead1($color) {
  font-family: $prophet-regular;
  color: $color;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.05em;
  @include media-breakpoint-down(xs) {
    font-size: 28px;
  }
}

@mixin subhead2($color) {
  font-family: $prophet-regular;
  color: $color;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.02em;
  @include media-breakpoint-down(xs) {
    font-size: 20px;
  }
}

// NOT IN STYLE GUIDE
@mixin subhead3($color) {
  font-family: $prophet-regular;
  color: $color;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.02em;
}

// Captions
@mixin caption1($color) {
  font-family: $circular-std-regular;
  color: $color;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.25em;
  @include media-breakpoint-down(xs) {
    font-size: 20px;
  }
}

@mixin caption2($color) {
  font-family: $circular-std-regular;
  color: $color;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.25em;
  @include media-breakpoint-down(xs) {
    font-size: 14px;
  }
}

// NOT IN STYLE GUIDE
@mixin captionSubNav($color) {
  font-family: $circular-std-regular;
  color: $color;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.05em;
}

// Copy
@mixin copyLarge($color) {
  font-family: $circular-std-regular;
  color: $color;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.02em;
  @include media-breakpoint-down(xs) {
    font-size: 16px;
    line-height: 24px;
  }
}

// NOT IN STYLE GUIDE
@mixin copyMedium($color) {
  font-family: $circular-std-regular;
  color: $color;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.02em;
  @include media-breakpoint-down(xs) {
    font-size: 16px;
  }
}

@mixin copyMain($color) {
  font-family: $circular-std-regular;
  color: $color;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  @include media-breakpoint-down(xs) {
    font-size: 14px;
  }
}

@mixin copyMicro($color) {
  font-family: $circular-std-regular;
  color: $color;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  @include media-breakpoint-down(xs) {
    font-size: 12px;
  }
}
