// colours
$sea-mint: #91d1c5;
$earth-red: #ce4849;
$earth-orange: #f19c50;
$earth-yellow: #dac287;
$earth-maroon: #551c27;
$earth-brown: #a4493d;
$mono-black: #1f1f1f;
$mono-white: #ffffff;
$mono-grey1: #585858;
$mono-grey3: #7f8c8e;
$mono-grey4: #f0f0f0;

// breakpoints
$xl-breakpoint: 1920px;
$lg-breakpoint: 1440px;
$md-breakpoint: 768px;
$sm-breakpoint: 576px;

// fonts
$prophet-regular: 'Prophet Regular', sans-serif;
$circular-std-regular: 'Circular Std Regular', sans-serif;
