@import 'src/styles/base/_variables';
@import 'src/styles/base/_typography';

.staggered-icons {
  &__header {
    margin-bottom: 48px;
    @include header3($earth-maroon);
    @include media-breakpoint-down(sm) {
      margin-bottom: 24px;
    }
  }

  &__subheader {
    @include copyLarge($mono-grey1);
  }

  &__items-container {
    max-width: 640px;
    margin: -135px auto 0;
    @include media-breakpoint-down(lg) {
      margin: -50px auto 0;
    }
    @include media-breakpoint-down(sm) {
      max-width: 100%;
      margin: 0 auto;
    }
  }

  &__item-container {
    padding: 0 30px;
    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }

  &__item-title {
    @include subhead2($earth-brown);
  }

  &__col1 {
    margin-top: 150px;
    @include media-breakpoint-down(sm) {
      margin-top: 0;
    }
  }
}
